html {
    background-color: $darker-gray;
}

body {
    overflow-x: hidden;
    #skip {
        display: none;
        &:focus {
            display: block;
        }
    }
    .main-content {
        // padding-top: 4rem;
        @include breakpoint(medium only) {
            // padding-top: 2em;
        }
        @include breakpoint(small only) {
            // padding-top: 2em;
        }
    }
}