//Footer 
// ----------------
footer {
    background: url(../img/background-pattern-footer.png) center bottom no-repeat fixed;
    background-size: cover;
    font-family: 'Open Sans';
    color: $white;
    .columns {
        @include breakpoint(small only) {
            margin-bottom: 1rem;
        }
    }
    a.logo {
        img {
            width: 100%;
        }
    }
    a {
        color: $white;
        &:hover {
            color: $michigan-maize;
        }
        &:focus {
            color: $michigan-maize;
        }
    }
    h6 {
        font-family: 'bebas_neue_regular';
        font-size: 1.65rem;
        line-height: 1;
        font-weight: normal;
        @include breakpoint(medium down) {
            font-size: 1.1rem;
        }
    }
    p {
        margin: 0;
        font-size: .85rem;
        @include breakpoint(medium down) {
            font-size: .8rem;
        }
        a {
            color: $white;
            &:hover {
                color: $michigan-maize;
            }
            &:focus {
                color: $michigan-maize;
            }
        }
    }
    .one-cool-thing-container {
        @extend .small-6,
        .medium-6,
        .large-4,
        .columns;
        @include breakpoint(small only) {
            margin-bottom: 1.5rem;
        }
        .app {
            color: $white;
            @include breakpoint(small only) {
                margin-left: 0;
            }
            .section_title {
                font-family: 'bebas_neue_regular';
                font-size: 1.65rem;
                line-height: 1;
                @include breakpoint(medium down) {
                    font-size: 1.1rem;
                }
            }
            p {
                transition: all .2s ease-in-out;
            }
            svg {
                transform: rotate(9deg);
                opacity: .85;
                transition: all .2s ease-in-out;
                overflow: visible;
            }
            path.circle {
                fill: $michigan-maize;
                transform-origin: 50% 50%;
            }
            a {
                &:hover svg {
                    opacity: 1;
                    // transform: rotate(16deg);
                }
                &:hover path.circle {
                    animation: spin 7s infinite linear;
                }
                &:hover p {
                    color: $michigan-maize;
                }
                @keyframes spin {
                    to {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
    .legal {
        padding: $global-padding 0;
        @include breakpoint(medium down) {
            font-size: .65rem;
            padding: $global-padding;
        }
        color: $light-gray;
        a {
            font-size: .75rem;
            color: $light-gray;
            &:hover {
                color: $michigan-maize;
            }
            &:focus {
                color: $michigan-maize;
            }
        }
    }
    .logo-cell {
        padding: 1.5rem 2rem 2rem;
        border-top: 1px solid $lighter-gray;
        border-bottom: 1px solid $lighter-gray;
        @include breakpoint(small only) {
            padding: 1.5rem .5rem .5rem;
            border-bottom: 0;
        }
    }
    .footer-text {
        padding: 1.5rem 0 1.5rem 1.25rem;
        border-left: 1px solid rgba($white, .4);
        border-top: 1px solid $lighter-gray;
        border-bottom: 1px solid $lighter-gray;
        @include breakpoint(small only) {
            border: 0;
        }
    }
}

.reveal {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    &.footer {
        color: $black;
        padding: $global-padding;
        background-color: $white-100 !important;
        h6,
        p {
            color: $black;
        }
        .close-button {
            color: $black !important;
        }
    }
}
