.gallery-lightbox {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $black-100;
    z-index: 9999;
    transition: opacity .2s ease-in-out;
    &.active {
      opacity: 1;
      visibility: visible;
      transition: opacity .2s ease-in-out;
    }
    .gallery-content {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 10vw;
        top: 10vh;
        width: 80vw;
        height: 70vh;
        .gallery-button-close {
            color: $white;
            font-size: 3.125rem;
            position: absolute;
            right: -50px;
            top: -50px;
            border: 0;
            background-color: transparent;
            transform: rotate(45deg);
            cursor: pointer;
            transition: all .2s ease-in-out;
            &:hover {
                color: $tappan-red;
            }
        }
        .gallery-button-previous {
            color: $white;
            font-size: 3.125rem;
            position: absolute;
            left: -50px;
            top: 50%;
            transform: translate(0, -50%);
            border: 0;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background-color: transparent;
            cursor: pointer;
            transition: all .2s ease-in-out;
            &:hover {
                color: $tappan-red;
            }
        }
        .gallery-button-next {
            color: $white;
            font-size: 3.125rem;
            position: absolute;
            right: -50px;
            top: 50%;
            transform: translate(0, -50%);
            border: 0;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            background-color: transparent;
            cursor: pointer;
            transition: all .2s ease-in-out;
            &:hover {
                color: $tappan-red;
            }
        }
        .image-caption {
          display: flex;
          width: 100%;
          position: absolute;
          padding: 1rem 1rem 1.5rem 1rem;
          margin: 1rem 0;
          bottom: -120px;
          background-color: $black-87;
        }
        .gallery-navigation {
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            display: flex;
            bottom: -120px;
            left: 50%;
            transform: translate(-50%);
            .gallery-navigation-button {
                display: block;
                width: 8px;
                height: 8px;
                border: 0;
                background-color: $white;
                border-radius: 50%;
                margin: 0 10px;
                cursor: pointer;
                transition: all .2s ease-in-out;
                &:hover {
                    background-color: $tappan-red;
                }
                &.active {
                    background-color: $michigan-maize;
                }
            }
        }
    }
}