.styleguide {
    background-color: $faint-gray;
    header {
        margin-bottom: 2rem;
        background-color: $michigan-blue;
        background: linear-gradient(to right, rgba(0, 39, 76, 1) 0%, rgba(0, 39, 76, 1) 43%, rgba(64, 126, 201, 1) 100%);
        .logo {
            margin: 1.75rem 0;
        }
    }
    .title {
        margin-bottom: 3rem;
    }
    .lead {
        font-family: $header-font-family;
        a {
            color: $michigan-blue;
            border-bottom: 1px solid rgba($michigan-blue, .25);
            transition: all .2s ease-in-out;
            &:hover {
                color: $arboretum-blue;
                border-bottom: 1px solid $arboretum-blue;
            }
        }
        a[target="_blank"] {
            &:after {
                font-family: 'FontAwesome';
                content: '\f08e';
                font-size: .75rem;
                color: inherit;
                padding-left: 4px;
            }
        }
    }
    .sticky-container {
        nav {
            .sidebar {
                font-family: $header-font-family;
                li {
                    a {
                        color: $black-54;
                        border-left: 2px solid $light-gray;
                        background-color: $white;
                        transition: all .2s ease-in-out;
                        &.is-active {
                            border-left-color: $dark-gray;
                            background-color: $light-gray;
                            color: $black-100;
                        }
                        &:hover {
                            border-left-color: $black-26;
                            background-color: $faint-gray;
                            color: $black;
                        }
                    }
                    &.sidebar-title {
                        color: $darker-gray;
                        text-transform: uppercase;
                        font-size: .75rem;
                        font-weight: 400;
                        opacity: 0;
                        line-height: 0;
                        transition: all .2s ease-in-out;
                        span {
                            display: inline-block;
                            padding: .25rem 1.125rem;
                            background-color: $medium-gray;
                        }
                    }
                }
            }
            &.is-stuck {
                .sidebar {
                    li {
                        &.sidebar-title {
                            opacity: 1;
                            line-height: inherit;
                        }
                    }
                }
            }
        }
    }
    .main {
        background-color: $white;
        section {
            padding: $global-padding;
        }
        p {
            font-size: 1.125rem;
        }
        #callouts {
            a {
                font-family: $header-font-family;
                color: $michigan-blue;
                border-bottom: 1px solid rgba($michigan-blue, .25);
                transition: all .2s ease-in-out;
                &:hover {
                    color: $arboretum-blue;
                    border-bottom: 1px solid $arboretum-blue;
                }
            }
        }
        #links {
            a {
                color: $michigan-blue;
                border-bottom: 1px solid rgba($michigan-blue, .25);
                transition: all .2s ease-in-out;
                &:hover {
                    color: $arboretum-blue;
                    border-bottom: 1px solid $arboretum-blue;
                }
            }
            a[target="_blank"] {
                &:after {
                    font-family: 'FontAwesome';
                    content: '\f08e';
                    font-size: .75rem;
                    color: inherit;
                    padding-left: 4px;
                }
            }
        }
        #typography {
            a {
                color: $michigan-blue;
                border-bottom: 1px solid rgba($michigan-blue, .25);
                transition: all .2s ease-in-out;
                &:hover {
                    color: $arboretum-blue;
                    border-bottom: 1px solid $arboretum-blue;
                }
            }
            .hed {
                margin-bottom: 1.5rem;
                padding: 1rem 1rem .5rem;
                background-color: $light-gray;
                border-radius: $global-radius;
                border: 1px solid $medium-gray;
                @include breakpoint(small only) {
                    margin-bottom: .5rem;
                }
                .eyebrow {
                    font-family: $super-header-font-family;
                    font-size: 1.25rem;
                    line-height: 1;
                    text-transform: uppercase;
                    color: $ross-orange;
                    @include breakpoint(small only) {
                        font-size: 1.1rem;
                    }
                }
                h3 {
                    font-size: 2rem;
                    line-height: 1;
                    padding-bottom: .5rem;
                    @include breakpoint(medium down) {
                        font-size: 1.875rem;
                    }
                    @include breakpoint(small only) {
                        font-size: 1.2rem;
                    }
                }
            }
        }
        #iconography {
            .lead {
                a {
                    color: $michigan-blue;
                    border-bottom: 1px solid rgba($michigan-blue, .25);
                    transition: all .2s ease-in-out;
                    &:hover {
                        color: $arboretum-blue;
                        border-bottom: 1px solid $arboretum-blue;
                    }
                }
            }
            .icon-fonts {
                margin-bottom: 1rem;
                i {
                    margin-right: .625rem;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .icon {
                margin-bottom: 1.5rem;
                .word {
                    font-family: $header-font-family;
                }
            }
        }
        #images {
            .image {
                position: relative;
                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &.duotones {
                    div {
                        background-size: cover;
                        height: 100%;
                        padding-bottom: 56.25%;
                    }
                }
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            &.super-headings {
                font-family: $super-header-font-family;
                text-transform: uppercase;
            }
        }
        .ss-section:not(:last-child) {
            padding-bottom: 4rem;
            border-bottom: 2px solid #ccc;
            margin-bottom: 4rem;
        }
        .ss-code code {
            display: block;
            padding: 1rem;
            overflow-x: scroll;
            margin-bottom: 1.5rem;
        }
        .row.display {
            background: #eee;
            font-size: 11px;
            margin-bottom: 10px;
            line-height: 2rem;
            border: solid 1px #c6c6c6;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        .row.display .columns:nth-child(2),
        .row.display .columns.small-centered,
        .row.display .columns.large-centered {
            background: #e1e1e1;
        }

        .row.display .columns.color-end {
            background: #d4d4d4;
        }
        .color-block {
            display: block;
            margin-bottom: 2rem;
            padding: .25rem .5rem .375rem;
            color: #333;
            text-transform: uppercase;
            border: 1px solid #ddd;
            box-shadow: 0 0 0 rgba($light-gray, 0);
            transition: all .2s ease-in-out;
            &:hover,
            &:focus {
                box-shadow: -5px 5px 0 rgba($light-gray, 1);
            }
            .color-name {
                font-family: $header-font-family;
                text-transform: none;
                font-size: .75rem;
                font-weight: 700;
            }
            span {
                display: block;
                width: 100%;
                height: 100px;
                margin-bottom: 0.42857rem;
            }
        }
    }
    footer {
        padding: 3rem 0;
    }
}