<section class="header_img">
    <div class="column parallax-window" data-parallax="scroll" data-image-src="{{root}}assets/img/404.jpg" data-bleed="0">
    </div>
</section>
<section class="row">
    <h2 class="header column small-12">{{tag}}</h2>
    <div class="small-12 medium-7 large-9 columns left_rail">
        <div class="large-7">
            <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
            <p>Please try the following:</p>
            <p>Check your spelling</p>
            <p>Return to the <a href="{{root}}index.html">home page</a></p>
            <p>Click the <a href="javascript:history.back()">Back</a> button</p>
            <p>or...</p>
            <p>
                <form class="search" action="{{root}}search_results.html" method="get">
                    <label for="input-group">
                        <span class="search_hed">SEARCH</span>
                        <br>Enter search term(s)</label>
                    <div class="input-group">
                        <input class="input-group-field" type="text" id="input-group" name="search">
                        <div class="input-group-button">
                            <input type="submit" class="button" value="go">
                        </div>
                    </div>
                </form>
            </p>
        </div>
    </div>
    <div class="medium-5 large-3 columns right_rail">
        {{>sidebar--top_stories}}
    </div>
</section>
