<div class="social_share_bar wow bounceInLeft" data-wow-delay=".04s">
    <div class="row align-justified text-center">
        <div class="column">
            <a data-tooltip aria-haspopup="true" class="has-tip top facebook menu_icon" data-disable-hover="false" tabindex="2" title="Share on Facebook" href="#">
                <span><i class="fa fa-facebook"></i></span></a>
        </div>
        <div class="column">
            <a data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Share on Twitter" class="twitter menu_icon has-tip top" href="#">
                <span><i class="fa fa-twitter"></i></span></a>
        </div>
        <div class="column">
            <a data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Save to Pocket" class="bookmark menu_icon has-tip top" href="http://getpocket.com/save?url={{../permalink}}{{page}}.html&title={{title}}" target="_blank">
                <span><i class="fa fa-get-pocket"></i></span></a>
        </div>
        <div class="column">
            <a data-tooltip aria-haspopup="true" data-disable-hover="false" tabindex="2" title="Email this" class="envelope menu_icon has-tip top" href="#">
                <span><i class="fa fa-envelope-o"></i></span></a>
        </div>
    </div>
</div>