<!-- article long_content row -->
<section class="content wow fadeIn" data-wow-delay="1s">
    <div class="lead_img">
        <div class="title stacked">From the edge <span>of the Arctic</span></div>
    </div>
    <div class="article_content row large-collapse align-center">
        <div class="small-12 large-8 columns article">
            <div class="byline row">
                <div class="column shrink"><span class="float-left author">Story by Nicole Casal Moore. Multimedia by Marcin Szczepanski</span></div>
                <div class="column shrink"><span class="date">Sep. 21, 2016</span></div>
            </div>
            <div class="subhed">A Michigan engineer is tracking the planet’s vital signs from the epicenter of climate change. |<span class="time_label">Long read</span></div>
            <p class="dropcap wow fadeIn" data-wow-delay=".01s">Brie Van Dam lifts the sled rope and clicks its harness around her waist. The sled is loaded with the tools she’ll need to gather a day’s worth of data about the Arctic snowpack. Poles in hand, she muscles off from Toolik Field Station — a world-renowned climate change research outpost. Her purple shadow leads the solitary operation into the white expanse.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Skis squeak against the powder for a mile and a half to a plot where wooden stakes in the tundra mark where she’ll take measurements.</p>
            <div class="flex-video widescreen wow fadeIn" data-wow-delay=".01s">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Y1S7_TIPVr0" frameborder="0" allowfullscreen></iframe>
            </div>
            <p class="wow fadeIn" data-wow-delay=".01s">Snow is vital to the Arctic, and the planet as a whole. In this ecosystem, it’s an insulator and humidifier of the ground all winter, keeping plants and animals alive, even if dormant. It’s a store of fresh water that replenishes springtime soils. And on a global scale, it’s a heat shield, reflecting some of the sun’s energy back to space and helping to regulate Earth’s temperature.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">“Van Dam has been connected to the snow one way or another for much of her life — from building igloos with her brother as a child to writing a dissertation on how sunlight reacts with pollutants in the spaces between fallen snowflakes. Now, as manager of Toolik Field Station’s Environmental Data Center, her wintertime duties include monthly checks of the camp snow, including its depth, density and liquid water content. Regular measurements are essential to understand how a system is changing. Researchers from all over the world with projects at TFS can use the data Van Dam gathers to put their own findings in context.</p>
            <!-- <div class="photo callout wrap_left wow fadeInUp" data-wow-delay=".01s">
                <div id="card2" class="card2">
                    <div class="front callout black">
                        <p class="hed">Slow-cooker caribou stew</p><img src="{{root}}assets/img/caraboo.jpg" alt="caraboo">
                        <p class="dek">
                            <ul>
                                <li>2 1/2 pounds moose or caribou meat, cut into cubes</li>
                                <li>1/2 cup all-purpose flour</li>
                                <li>1 tablespoon vegetable oil, or as needed</li>
                                <li>4 cups beef stock</li>
                                <li>3 large potatoes, peeled and cubed</li>
                                <li>2 1/2 pounds moose meat, cut into cubes</li>
                                <li>1 large onion, chopped</li>
                                <li>1 (14 ounce) can diced tomatoes with juice</li>
                                <li>2 teaspoons dried oregano</li>
                                <li>2 teaspoons Worcestershire sauce</li>
                                <li>1 1/2 teaspoons dried thyme</li>
                                <li>1 teaspoon minced garlic</li>
                                <li>2 bay leaves</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div> -->
            <p class="wow fadeIn" data-wow-delay=".01s">When Van Dam and her sled arrive at the first sampling site, she throws a down jacket on top of her other layers. She won’t be as active here as she was on her commute, and temperatures are in the teens. That’s cold by most standards, but not here. It’s been warm at TFS this year.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Measuring snow depth is straightforward. She dips a scientific ruler into the snowpack at 50 different points and records the millimeter markings in a journal. She moves on to density measurements, unpacking a hollow metal tube with a t-shaped grip called a “Federal corer.” She drives it in, twists it, and lifts out a snow plug. She pours the contents into a plastic bag. </p>
            <p class="wow fadeIn" data-wow-delay=".01s">Then she does it again. And again. Twenty cores came out at this “dry heath” tundra location.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">“One of the things I really love about snow is it tells you stories. You can sort of read it,” she had said earlier in the day, as she called us over to a trail of bird footprints. Snow patterns can tell her which way the wind is blowing, for example, and based on that, she knows what grows underneath it. It also holds clues about TFS wildlife.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">“If you look right here,” Van Dam pointed out, “the ptarmigan was walking walking walking, and you can actually see the wing prints from when it took off.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">“Isn’t that beautiful?”</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Leidyba ir grafinio dizaino, Lorem Ipsum (kilęs iš Lotynų dolorem Ipsum, verčiamas kaip "skausmo pati") yra užpildas tekstas dažniausiai naudojamas parodyti grafikos elementus dokumente arba vizualinį pateikimą. Keitimas prasmingą turinį su rezervuotos vietos tekstu leidžia dizaineriams kurti turinio formą, prieš pati turinys buvo gaminamas.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Lorm sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
    </div>
    <div class="full-bleed show-for-large">
        <div class="img img01 wow fadeIn" data-wow-delay=".01s">
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
        </div>
        <div class="img img02 wow fadeIn" data-wow-delay=".01s">
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Donec sed odio dui.</p>
        </div>
        <div class="img img03 wow fadeIn" data-wow-delay=".01s">
            <p>Donec sed odio dui. Sed posuere consectetur est at lobortis.</p>
        </div>
        <div class="img img04 wow fadeIn" data-wow-delay=".01s">
            <p>Sed posuere consectetur est at lobortis.</p>
        </div>
    </div>
    <div class="article_content row large-collapse align-center">
        <div class="small-12 large-8 columns article">
            <div class="hide-for-large">{{>article--gallery-02}}</div>
            <p class=" wow fadeIn" data-wow-delay=".01s">Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue.</p>
            <div class="flip">
                <blockquote id="card" class="card wow headShake tweet-this" data-wow-delay=".5s" data-wow-iteration="4">
                    <div class="front"> If you look right here the ptarmigan was walking walking walking, and you can actually see the wing prints from when it took off.
                        <cite>Brie Van Dam</cite>
                        <div class="social_share text-right">
                            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=What&rsquo;s the special sauce&#63;&rsquo;" data-size="large">Tweet</a></div>
                    </div>
                </blockquote>
            </div>
            <p class="wow fadeIn" data-wow-delay=".01s">Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Lorm sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
    </div>
    <div class="full-bleed">
        <div class="img img05 wow fadeIn" data-wow-delay=".01s">
            <p class="chapter_title">Tortor Purus Sem Fermentum Tristique</p>
        </div>
    </div>
    <div class="article_content row large-collapse align-center">
        <div class="small-12 large-8 columns article">
            <p class="wow fadeIn" data-wow-delay=".01s">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Etiam porta sem malesuada magna mollis euismod. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue.</p>
        </div>
    </div>
    <div class="full-bleed">
        <div class="img img05 wow fadeIn" data-wow-delay=".01s">
            <p class="chapter_title">Lorem Purus Dolor</p>
        </div>
    </div>
    <div class="article_content row large-collapse align-center">
        <div class="small-12 large-8 columns article">
            <p class="wow fadeIn" data-wow-delay=".01s">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Nullam id dolor id nibh ultricies vehicula ut id elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Sed posuere consectetur est at lobortis. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor. Curabitur blandit tempus porttitor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nulla vitae elit libero, a pharetra augue.</p>
            <div class="callout black wrap_left wow fadeIn" data-wow-delay=".01s">
                <div class="flex-video widescreen">
                    <iframe src="//giphy.com/embed/l2Sq3YeO2DEyVz8ha" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
                </div>
                <p class="hed">Cursus Justo Dolor</p>
                <p class="dek">Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum.</p>
            </div>
            <p class="wow fadeIn" data-wow-delay=".01s">Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Lorm sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <p class="wow fadeIn" data-wow-delay=".01s" id="bottom">Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas faucibus mollis interdum. Lorm sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <p class="wow fadeIn" data-wow-delay=".01s">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
            <p class="wow fadeIn" data-wow-delay=".01s" id="bottom">Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Vestibulum id ligula porta felis euismod semper. Curabitur blandit tempus porttitor.</p>
            <div class="callout related light-gray full wow fadeIn" data-wow-delay=".01s">
                <div class="row">
                    <div class="main_hed column large-12">Related Links</div>
                    <div class="column small-12 large-6">
                        <p><a href="#related">Related link Alpha</a></p>
                        <p><a href="#related">Related link long Bravo</a></p>
                        <p><a href="#related">Related link longer Charlie</a></p>
                    </div>
                    <div class="column small-12 large-6">
                        <p><a href="#related">Related link longest Delta</a></p>
                        <p><a class="external" href="https://google.com" target="blank">Related link external Foxtrot</a></p>
                        <p><a class="external" href="https://google.com" target="blank">Related link not internal Echo</a></p>
                    </div>
                </div>
            </div>
            {{>article--topics}} {{>article--contact}}
        </div>
    </div>
</section>
{{>article--sticky_social_bar}}