<!-- related stories row row row for MARLO -->
<section class="related_stories_row wow bounceInLeft" data-wow-delay=".9s">
    <div>
        <div class="related_stories_title"><span>Looks like you're interested in this story. See more stories like this:</span>
        </div>
    </div>
    <div class="row related_items">
        <div class="item column small-12 medium-4 large-4">
            <a href="{{root}}article--short.html">
                <div class="img_container"><img src="{{root}}assets/img/related-02.jpg" alt="Placeholder"><span class="related_tag">Related</span></div>
                <div class="hed">MARLO vs. wavefield</div>
                <div class="dek">MARLO is the first robot in the lab of Jessy Grizzle, the Elmer G. Gilbert Distinguished University Professor and the Jerry W. and Carol L. Levin Professor of Engineering, that can walk (and fall) in any direction. | <span class="time_label">Short read</span></div>
            </a>
        </div>
        <div class="item column small-12 medium-4 large-4">
            <a href="{{root}}article--standard.html">
                <div class="img_container"><img src="{{root}}assets/img/related-03.jpg" alt="Placeholder"><span class="related_tag">Related</span></div>
                <div class="hed">First success on the Wave Field</div>
                <div class="dek">A walking robot's "sober" attempt at crossing the earthen moguls outside FXB. | <span class="time_label">Medium read</span></div>
            </a>
        </div>
        <div class="item column small-12 medium-4 large-4">
            <a href="{{root}}article--standard_long.html">
                <div class="img_container"><img src="{{root}}assets/img/related-01.jpg" alt="Placeholder"><span class="related_tag">Related</span></div>
                <div class="hed">Taking bipedal walking robots from science fiction to science fact</div>
                <div class="dek">In science fiction, robots walk, run, and jump better than you. In reality, can you count on them to walk over rubble and pull you from a burning building? Not so much. We will discuss at a general level what we are doing to close the gap. | <span class="time_label">Long read</span></div>
            </a>
        </div>
    </div>
</section>
