 {{!-- photo grid grid grid girdles --}}
<div class="grid small-up-1 medium-up-4 large-up-3 row collapse article_photo_grid">
    <div class="column photo_item wow fadeInUp" data-wow-delay=".05s">
        <a data-open="img01">
            <div class="show-hide"><span class="arrow_container"><i class="fa fa-clone" aria-hidden="true"></i><span class="gallery_label">Gallery</span></span>
            </div>
            <img src="https://c5.staticflickr.com/4/3954/15422686500_4dea778d17_h.jpg" alt="Placeholder" /></a>
    </div>
    <div class="column photo_item wow fadeInUp" data-wow-delay=".05s">
        <a data-open="img01">
            <div class="show-hide"><span class="arrow_container"><i class="fa fa-clone" aria-hidden="true"></i><span class="gallery_label">Gallery</span></span>
            </div>
            <img src="https://c2.staticflickr.com/4/3946/14988120463_e7f9529736_b.jpg" alt="Placeholder" /></a>
    </div>
    <div class="column photo_item wow fadeInUp" data-wow-delay=".05s">
        <a data-open="img01">
            <div class="show-hide"><span class="arrow_container"><i class="fa fa-clone" aria-hidden="true"></i><span class="gallery_label">Gallery</span></span>
            </div>
            <img src="https://c2.staticflickr.com/2/1493/26756263496_81212ef33a_b.jpg" alt="Placeholder" /></a>
    </div>
    <div class="column photo_item wow fadeInUp" data-wow-delay=".05s">
        <a data-open="img01">
            <div class="show-hide"><span class="arrow_container"><i class="fa fa-clone" aria-hidden="true"></i><span class="gallery_label">Gallery</span></span>
            </div>
            <img src="https://c2.staticflickr.com/8/7491/15790584127_b4b5dc23e9_b.jpg" alt="Placeholder" /></a>
    </div>
    <div class="column photo_item wow fadeInUp" data-wow-delay=".05s">
        <a data-open="img01">
            <div class="show-hide"><span class="arrow_container"><i class="fa fa-clone" aria-hidden="true"></i><span class="gallery_label">Gallery</span></span>
            </div>
            <img src="https://c1.staticflickr.com/3/2865/10998120254_a295ec7ec8_b.jpg" alt="Placeholder" /></a>
    </div>
    <div class="column photo_item wow fadeInUp" data-wow-delay=".05s">
        <a data-open="img01">
            <div class="show-hide"><span class="arrow_container"><i class="fa fa-clone" aria-hidden="true"></i><span class="gallery_label">Gallery</span></span>
            </div>
            <img src="https://c2.staticflickr.com/8/7308/10997979545_f2f70cb353_h.jpg" alt="Placeholder" /></a>
    </div>
    <div class="column photo_item wow fadeInUp" data-wow-delay=".05s">
        <a data-open="img01">
            <div class="show-hide"><span class="arrow_container"><i class="fa fa-clone" aria-hidden="true"></i><span class="gallery_label">Gallery</span></span>
            </div>
            <img src="https://c2.staticflickr.com/2/1503/26177100323_a6b2a0fc37_b.jpg" alt="Placeholder" /></a>
    </div>
    <div class="column photo_item wow fadeInUp" data-wow-delay=".05s">
        <a data-open="img01">
            <div class="show-hide"><span class="arrow_container"><i class="fa fa-clone" aria-hidden="true"></i><span class="gallery_label">Galrlery</span></span>
            </div>
            <img src="https://c2.staticflickr.com/2/1465/26177100493_53129417cf_b.jpg" alt="Placeholder" /></a>
    </div>
    <div class="column photo_item wow fadeInUp" data-wow-delay=".05s">
        <a data-open="img01">
            <div class="show-hide"><span class="arrow_container"><i class="fa fa-clone" aria-hidden="true"></i><span class="gallery_label">Gallerry</span></span>
            </div>
            <img src="https://c2.staticflickr.com/4/3954/15422686500_6ff76f7d01_b.jpg" alt="Placeholder" /></a>
    </div>
    <div class="column photo_item wow fadeInUp" data-wow-delay=".05s">
        <a data-open="img01">
            <div class="show-hide"><span class="arrow_container"><i class="fa fa-clone" aria-hidden="true"></i><span class="gallery_label">Grallery</span></span>
            </div>
            <img src="https://c2.staticflickr.com/6/5608/15584591846_c03f89f7a1_b.jpg" alt="Placeholder" /></a>
    </div>
    <div class="column photo_item wow fadeInUp" data-wow-delay=".05s">
        <a data-open="img01">
            <div class="show-hide"><span class="arrow_container"><i class="fa fa-clone" aria-hidden="true"></i><span class="gallery_label">Garllery</span></span>
            </div>
            <img src="https://c2.staticflickr.com/8/7308/10997979545_0a66011661_b.jpg" alt="Placeholder" /></a>
    </div>
</div>
