<!-- Magazine row -->
<section class="magazine">
    <div class="row">
        <div class="text-center section_title column small-12">
            <p>Inside</p>
            <p><span class="thin_text_sans">The Michigan Engineer Magazine</span></p>
        </div>
        <div class="small-6 medium-3 large-3 column">
            <a href="{{root}}magazine.html"><img src="{{root}}assets/img/2016-spring-cover.jpg" alt="Spring 2016 Issue Cover">
                <div class="mag_title text-center">Spring 2016 Issue »</div>
            </a>
        </div>
        <div class="small-6 medium-3 large-3 column">
            <a href="{{root}}magazine-02.html"><img src="{{root}}assets/img/2015-fall-cover.jpg" alt="Fall 2015 Issue Cover">
                <div class="mag_title text-center">Fall 2015 Issue »</div>
            </a>
        </div>
        <div class="small-6 medium-3 large-3 column">
            <a href="{{root}}magazine.html"><img src="{{root}}assets/img/2015-spring-cover.jpg" alt="Spring 2015 Issue Cover">
                <div class="mag_title text-center">Spring 2015 Issue »</div>
            </a>
        </div>
        <div class="small-6 medium-3 large-3 column">
            <a href="{{root}}magazine-02.html"><img src="{{root}}assets/img/2014-fall-cover.jpg" alt="Fall 2014 Issue Cover">
                <div class="mag_title text-center">Fall 2014 Issue »</div>
            </a>
        </div>
    </div>
</section>
