<div class="social_sticky headroom" id="side_sticky">
    <ul class="vertical menu" id="menu">
        <li class="title">SHARE</li>
        <li>
            <a class="fa fa-facebook" href="#fracebrook" title="Share on Facebook" aria-label="Share on Facebook" data-open="social01"></a>
        </li>
        <li>
            <a class="fa fa-twitter" href="#tritter" title="Tweet on Twitter" aria-label="Tweet on Twitter" data-open="social02"></a>
        </li>
        <li>
            <a class="fa fa-google-plus" href="#groogles" title="Share on Google+" aria-label="Share on Google+" data-open="social03"></a>
        </li>
        <li>
            <a class="fa fa-tumblr" href="#troubler" title="Post to Tumblr" aria-label="Share on Google+" data-open="social04"></a>
        </li>
        <li>
            <a class="fa fa-pinterest-p" href="#punterist" title="Pin to Pinterest" aria-label="Pin to Pinterest" data-open="social02"></a>
        </li>
        <li>
            <a class="fa fa-envelope" href="#eurorail" title="Email to a friend" aria-label="Email to a friend" data-open="social03"></a>
        </li>
    </ul>
</div>
<div class="reveal" id="social01" data-reveal data-deep-link="true" data-animation-in="scale-in-up" data-animation-out="spin-out">
    <img src="{{root}}assets/img/social-share.gif" alt="SHARRRRRR" width="100%">
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
</div>
<div class="reveal" id="social02" data-reveal data-deep-link="true" data-animation-in="spin-in" data-animation-out="spin-out">
    <img src="{{root}}assets/img/social-share-02.gif" alt="SHARRRRRR" width="100%">
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
</div>
<div class="reveal" id="social03" data-reveal data-deep-link="true" data-animation-in="spin-in" data-animation-out="spin-out">
    <img src="{{root}}assets/img/social-share-03.gif" alt="SHARRRRRR" width="100%">
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
</div>
<div class="reveal" id="social04" data-reveal data-deep-link="true" data-animation-in="scale-in-up" data-animation-out="spin-out">
    <img src="{{root}}assets/img/social-share-04.gif" alt="SHARRRRRR" width="100%">
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
</div>
