<!-- article gallery row -->
<div class="orbit" role="region" aria-label="Images gallery for the article" data-orbit data-auto-play="false">
    <div class="gallery_title clearfix">
        <div class="float-left">Photo Gallery</div>
        <!-- <div class="float-right share"><a href="#embed"><i class="fa fa-code" aria-hidden="true"></i></a>
            <a href="#share"><i class="fa fa-share" aria-hidden="true"></i></a>
        </div> -->
    </div>
    <ul class="orbit-container">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        <li class="orbit-slide is-active">
            <img class="orbit-image" src="{{root}}assets/img/3-2-img-large-01.jpg" alt="Space">
            <figcaption class="orbit-caption">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. </figcaption>
        </li>
        <li class="orbit-slide">
            <img class="orbit-image" src="{{root}}assets/img/3-2-img-large-02.jpg" alt="Space">
            <figcaption class="orbit-caption">Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</figcaption>
        </li>
        <li class="orbit-slide">
            <img class="orbit-image" src="{{root}}assets/img/3-2-img-large-03.jpg" alt="Space">
            <figcaption class="orbit-caption">Curabitur blandit tempus porttitor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</figcaption>
        </li>
        <li class="orbit-slide">
            <img class="orbit-image" src="{{root}}assets/img/3-2-img-large-04.jpg" alt="Space">
            <figcaption class="orbit-caption">Maecenas sed diam eget risus varius blandit sit amet non magna.</figcaption>
        </li>
    </ul>
    <nav class="orbit-bullets">
        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    </nav>
</div>
