<div class="callout contact white full">
    <div class="row collapse align-middle">
        <div class="column small-3 medium-4 large-4 wow bounceInLeft contact_img" data-wow-delay=".08s">
            <img src="http://placehold.it/600/272727" alt="Space">
        </div>
        <div class="column small-8 medium-7 large-7 wow bounceInLeft contact_details" data-wow-delay=".01s">
            <p class="main_hed">Contact</p>
            <p><span class="author">Sméagol Trahald</span>
                <br><span class="title">Senior Title/Title Title &amp; Title Title</span></p>
            <p>Michigan Engineering
                <br> Unit within the College of Engineering
                <br>
                <a href="mailto:kmca@umich.edu">hateses.tricksy.hobbitses@umich.edu</a>
                <br>
                <a href="tel:1-734-763-4386">(734) 555-1122</a>
            </p>
            <p>1212 North Mount Gundabad</p>
        </div>
    </div>
</div>
