<!-- related stories row row row for hurrican story-->
<section class="related_stories_row wow fadeInUp" data-wow-delay=".75s">
    <div class="row">
        <div class="related_stories_title small-12 column"><span>Looks like you're interested in this story. See more stories like this:</span>
        </div>
    </div>
    <div class="row related_items">
        <div class="item column small-12 medium-4 large-4">
            <a href="{{root}}article--short.html">
                <div class="img_container"><img src="{{root}}assets/img/related-04.jpg" alt="Placeholder"><span class="related_tag">Related</span></div>
                <div class="hed">Faster evacuation: Studying New Orleans to improve disaster planning</div>
                <div class="dek">As the tenth U.S. hurricane season since Katrina rolls on, a University of Michigan professor is using advanced data analytics and optimization techniques to find better ways to evacuate regions before disaster strikes. | <span class="time_label">Short read</span></div>
            </a>
        </div>
        <div class="item column small-12 medium-4 large-4">
            <a href="{{root}}article--standard.html">
                <div class="img_container"><img src="{{root}}assets/img/related-05.jpg" alt="Placeholder"><span class="related_tag">Related</span></div>
                <div class="hed">$3.46M to combine supercomputer simulations with big data</div>
                <div class="dek">By improving large physics models on the fly, U-M faculty will advance aerodynamics, climate science, cosmology, materials science and cardiovascular research. | <span class="time_label">Medium read</span></div>
            </a>
        </div>
        <div class="item column small-12 medium-4 large-4">
            <a href="{{root}}article--standard_long.html">
                <div class="img_container"><img src="{{root}}assets/img/related-06.jpg" alt="Placeholder"><span class="related_tag">Related</span></div>
                <div class="hed">Hurricane-forecast satellites to keep close eye on the tropics</div>
                <div class="dek">A set of eight hurricane-forecast satellites being developed at Michigan Engineering will give deep insights into how and where storms suddenly intensify. That's a process that’s becoming more crucial to figure out as the climate changes. | <span class="time_label">Long read</span></div>
            </a>
        </div>
    </div>
</section>
