<div class="row">
    <div class="column temp-text-bro"><span class="temp-bold-bro">Photo:</span> Color Variations</div>
</div>
<div class="callout secondary photo light-gray two_col full wow fadeIn" data-wow-delay=".01s">
    <div class="row">
        <div class="small-12 large-6 column">
            <img class="orbit-image" src="{{root}}assets/img/marlo-03.jpg" alt="Space">
        </div>
        <div class="small-12 large-6 column">
            <p class="hed">Getting a robot to walk well in 3D can be a very frustrating process</p>
            <p class="dek">Dennis Da, a key member of the team, working with MARLO</p>
        </div>
    </div>
</div>
