<div class="row">
    <div class="column temp-text-bro"><span class="temp-bold-bro">InfoBAND<sup class="lala">®</sup>:</span> Color Variations</div>
</div>
<div class="callout three_col blue full wow fadeInUp" data-wow-delay=".75s">
    <div class="row">
        <div class="main_hed text-center column large-12">Stats and what not</div>
    </div>
    <div class="row text-center big_text align-center">
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">15%</p>
            <p class="dek">Voight-Kampff Score</p>
        </div>
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">10</p>
            <p class="dek">Segmented Arms</p>
        </div>
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">504K</p>
            <p class="dek">Lines of Code</p>
        </div>
    </div>
</div>
<div class="callout three_col light-blue full wow fadeInUp" data-wow-delay=".75s">
    <div class="row">
        <div class="main_hed text-center column large-12">Stats and what not</div>
    </div>
    <div class="row text-center big_text align-center">
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">15%</p>
            <p class="dek">Voight-Kampff Score</p>
        </div>
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">10</p>
            <p class="dek">Segmented Arms</p>
        </div>
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">504K</p>
            <p class="dek">Lines of Code</p>
        </div>
    </div>
</div>
<div class="callout three_col black full wow fadeInUp" data-wow-delay=".75s">
    <div class="row">
        <div class="main_hed text-center column large-12">Stats and what not</div>
    </div>
    <div class="row text-center big_text align-center">
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">15%</p>
            <p class="dek">Voight-Kampff Score</p>
        </div>
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">10</p>
            <p class="dek">Segmented Arms</p>
        </div>
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">504K</p>
            <p class="dek">Lines of Code</p>
        </div>
    </div>
</div>
<div class="callout three_col gray full wow fadeInUp" data-wow-delay=".75s">
    <div class="row">
        <div class="main_hed text-center column large-12">Stats and what not</div>
    </div>
    <div class="row text-center big_text align-center">
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">15%</p>
            <p class="dek">Voight-Kampff Score</p>
        </div>
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">10</p>
            <p class="dek">Segmented Arms</p>
        </div>
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">504K</p>
            <p class="dek">Lines of Code</p>
        </div>
    </div>
</div>
<div class="callout three_col red full wow fadeInUp" data-wow-delay=".75s">
    <div class="row">
        <div class="main_hed text-center column large-12">Stats and what not</div>
    </div>
    <div class="row text-center big_text align-center">
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">15%</p>
            <p class="dek">Voight-Kampff Score</p>
        </div>
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">10</p>
            <p class="dek">Segmented Arms</p>
        </div>
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">504K</p>
            <p class="dek">Lines of Code</p>
        </div>
    </div>
</div>
<div class="callout three_col yellow full wow fadeInUp" data-wow-delay=".75s">
    <div class="row">
        <div class="main_hed text-center column large-12">Stats and what not</div>
    </div>
    <div class="row text-center big_text align-center">
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">15%</p>
            <p class="dek">Voight-Kampff Score</p>
        </div>
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">10</p>
            <p class="dek">Segmented Arms</p>
        </div>
        <div class="small-12 medium-4 large-4 column card">
            <p class="stat">504K</p>
            <p class="dek">Lines of Code</p>
        </div>
    </div>
</div>
