<div class="row">
    <div class="column temp-text-bro"><span class="temp-bold-bro">Related Links: </span>Color Variations</div>
</div>
<div class="callout related light-gray full wow fadeIn" data-wow-delay=".01s">
    <div class="row">
        <div class="main_hed column large-12">Related Links</div>
        <div class="column small-12 large-6">
            <p><a href="#related">Related link Alpha</a></p>
            <p><a href="#related">Related link long Bravo</a></p>
            <p><a href="#related">Related link longer Charlie</a></p>
        </div>
        <div class="column small-12 large-6">
            <p><a href="#related">Related link longest Delta</a></p>
            <p><a class="external" href="https://google.com" target="blank">Related link external Foxtrot</a></p>
            <p><a class="external" href="https://google.com" target="blank">Related link not internal Echo</a></p>
        </div>
    </div>
</div>
<div class="callout related gray full wow fadeIn" data-wow-delay=".01s">
    <div class="row">
        <div class="main_hed column large-12">Related Links</div>
        <div class="column small-12 large-6">
            <p><a href="#related">Related link Alpha</a></p>
            <p><a href="#related">Related link long Bravo</a></p>
            <p><a href="#related">Related link longer Charlie</a></p>
        </div>
        <div class="column small-12 large-6">
            <p><a href="#related">Related link longest Delta</a></p>
            <p><a class="external" href="https://google.com" target="blank">Related link external Foxtrot</a></p>
            <p><a class="external" href="https://google.com" target="blank">Related link not internal Echo</a></p>
        </div>
    </div>
</div>
<div class="callout related black full wow fadeIn" data-wow-delay=".01s">
    <div class="row">
        <div class="main_hed column large-12">Related Links</div>
        <div class="column small-12 large-6">
            <p><a href="#related">Related link Alpha</a></p>
            <p><a href="#related">Related link long Bravo</a></p>
            <p><a href="#related">Related link longer Charlie</a></p>
        </div>
        <div class="column small-12 large-6">
            <p><a href="#related">Related link longest Delta Related link longest Delta Related link longest Delta</a></p>
            <p><a class="external" href="https://google.com" target="blank">Related link external Foxtrot</a></p>
            <p><a class="external" href="https://google.com" target="blank">Related link not internal Echo</a></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="column temp-text-bro"><span class="temp-bold-bro">Related Links: </span>Layour Variations</div>
</div>
<div class="callout related light-gray wrap_left wow fadeIn" data-wow-delay=".01s">
    <div class="main_hed">Related Links</div>
    <div class="">
        <p><a href="#related">Floatin' right - yeehaw!</a></p>
        <p><a href="#related">Related link long Bravo</a></p>
        <p><a href="#related">Related link longer Charlie</a></p>
    </div>
</div>
<div class="callout related light-gray wrap_right wow fadeIn" data-wow-delay=".01s">
    <div class="main_hed">Related Links</div>
    <div class="">
        <p><a href="#related">Floatin' left - hawt dawg!</a></p>
        <p><a href="#related">Related link long Bravo</a></p>
        <p><a href="#related">You now hear banjo music</a></p>
        <p><a href="#related">You are now performing the popular dance: The Charleston</a></p>
    </div>
</div>
<p class="wow fadeIn" data-wow-delay=".01s">Although impressive, this approach has inherent limitations. It works as long as the robot doesn&rsquo;t have to make quick turns or sideways movements, but to achieve true agility, the control algorithm must be more integrated.</p>
<p class="wow fadeIn" data-wow-delay=".01s">Although impressive, this approach has inherent limitations. It works as long as the robot doesn&rsquo;t have to make quick turns or sideways movements, but to achieve true agility, the control algorithm must be more integrated.</p>
<div class="callout related light-gray full wow fadeIn image" data-wow-delay=".01s">
    <div class="row">
        <div class="main_hed column large-12">Related Links</div>
        <div class="column small-12 large-2">
           <img src="{{root}}assets/img/1-1-img-03.jpg" alt="lalalala">
        </div>
        <div class="column small-12 large-10">
            <p><a href="#related">ERMAHGAHD there's an image in a related links box?</a></p>
            <p><a class="external" href="https://google.com" target="blank">Yes Foxtrot there is an image.</a></p>
            <p><a class="external" href="https://google.com" target="blank">Probably won't use it but why not have it in the front end just in case eh</a></p>
        </div>
    </div>
</div>