<div id="cite-1" class="callout citations full wow fadeIn" data-wow-delay=".01s">
    <div class="main_hed">References, Sources, or Citations</div>
    <div class="row small-up-1">
        <div class="column"><a href="https://google.com" target="_blank">Donec ullamcorper nulla non metus auctor fringilla.</a></div>
        <div class="column"><a href="https://google.com" target="_blank">Donec id elit non mi porta gravida at eget metus.</a></div>
        <div class="column"><a href="https://google.com" target="_blank">Donec id elit non mi porta gravida at eget metus.</a></div>
        <div class="column"><a href="https://google.com" target="_blank">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</a></div>
        <div class="column"><a href="https://google.com" target="_blank">Chemical Engineering</a></div>
        <div class="column"><a href="https://google.com" target="_blank">MIT</a></div>
    </div>
</div>
