 {{!-- individual photo listing BIG TIME --}}
<div class="photo_item small-12 medium-12 large-12 column">
    <a href="{{root}}single_photo.html" class="row">
        <div class="small-12 medium-12 large-12 column"><img src="{{root}}assets/img/29505542380_3b8abcb857_k.jpg" alt="">
        </div>
    </a>
    <a href="{{root}}single_photo.html" class="row">
        <div class="small-12 medium-12 large-12 column">
            <!-- <p class="label">PHOTO ESSAY</p> -->
            <p class="hed">2016 SWE/TBP Career Fair</p>
            <p class="dek">Some Michigan Engineering students study while others meet with recruiters in search of internships, co-ops, and full time positions during the SWE/TBP Career Fair on September 19, 2016 in the newly renovated G.G Brown building.</p>
            <p class="credit">Photo: Evan Dougherty, Michigan Engineering Communications &amp; Marketing</p>
            <p class="cta">see photos »</p>
        </div>
    </a>
    <!-- <div class="row social_share">
        <div class="column small-3 shrink"><a class="facebook menu_icon" href="http://www.facebook.com/michigan.engineering"><i class="fa fa-facebook fa-inverse"></i></a></div>
        <div class="column small-3 shrink"><a class="twitter menu_icon" href="https://twitter.com/UMengineering"><i class="fa fa-twitter fa-inverse"></i></a></div>
        <div class="column small-3 shrink"><a class="envelope menu_icon" href="https://www.instagram.com/michiganengineering/"><i class="fa fa-envelope fa-inverse"></i></a></div>
        <div class="column small-3 shrink"><a class="plus menu_icon" href="https://www.youtube.com/user/michiganengineering"><i class="fa fa-plus fa-inverse"></i></a></div>
    </div> -->
</div>
<div class="large-12 column">
    <hr>
</div>
