<!-- category listings row department -->
<div class="category_listing_title row">
    <div class="large-12 column"><span>Aerospace Engineering</span>
        <hr>
    </div>
</div>
<section class="category_listings row">
    <div class="small-12 medium-12 large-12 column">{{#repeat 3}} {{>category--listing_item}} {{/repeat}}</div>
    <div class="small-12 medium-12 large-12 column"><a class="dept_cta" href="{{root}}category--department.html">More Aerospace Engineering News »</a></div>
</section>
<div class="category_listing_title row">
    <div class="large-12 column"><span>Biomedical Engineering</span>
        <hr>
    </div>
</div>
<section class="category_listings row">
    <div class="small-12 medium-12 large-12 column">{{#repeat 3}} {{>category--listing_item}} {{/repeat}}</div>
    <div class="small-12 medium-12 large-12 column"><a class="dept_cta" href="{{root}}category--department.html">More Biomedical Engineering News »</a></div>
</section>
<div class="category_listing_title row">
    <div class="large-12 column"><span>Chemical Engineering</span>
        <hr>
    </div>
</div>
<section class="category_listings row">
    <div class="small-12 medium-12 large-12 column">{{#repeat 3}} {{>category--listing_item}} {{/repeat}}</div>
    <div class="small-12 medium-12 large-12 column"><a class="dept_cta" href="{{root}}category--department.html">More Chemical Engineering News »</a></div>
</section>
<div class="category_listing_title row">
    <div class="large-12 column"><span>Civil and Environmental Engineering</span>
        <hr>
    </div>
</div>
<section class="category_listings row">
    <div class="small-12 medium-12 large-12 column">{{#repeat 3}} {{>category--listing_item}} {{/repeat}}</div>
    <div class="small-12 medium-12 large-12 column"><a class="dept_cta" href="{{root}}category--department.html">More Civil and Environmental Engineering News »</a></div>
</section>
<div class="category_listing_title row">
    <div class="large-12 column"><span>Climate and Space Science Engineering</span>
        <hr>
    </div>
</div>
<section class="category_listings row">
    <div class="small-12 medium-12 large-12 column">{{#repeat 3}} {{>category--listing_item}} {{/repeat}}</div>
    <div class="small-12 medium-12 large-12 column"><a class="dept_cta" href="{{root}}category--department.html">More Climate and Space Science Engineering News »</a></div>
</section>
<div class="category_listing_title row">
    <div class="large-12 column"><span>Electrical and Computer Science Engineering</span>
        <hr>
    </div>
</div>
<section class="category_listings row">
    <div class="small-12 medium-12 large-12 column">{{#repeat 3}} {{>category--listing_item}} {{/repeat}}</div>
    <div class="small-12 medium-12 large-12 column"><a class="dept_cta" href="{{root}}category--department.html">More Electrical and Computer Science Engineering News »</a></div>
</section>
<div class="category_listing_title row">
    <div class="large-12 column"><span>Industrial and Operations Engineering</span>
        <hr>
    </div>
</div>
<section class="category_listings row">
    <div class="small-12 medium-12 large-12 column">{{#repeat 3}} {{>category--listing_item}} {{/repeat}}</div>
    <div class="small-12 medium-12 large-12 column"><a class="dept_cta" href="{{root}}category--department.html">More Industrial and Operations Engineering News »</a></div>
</section>
<div class="category_listing_title row">
    <div class="large-12 column"><span>Integrative Systems + Design</span>
        <hr>
    </div>
</div>
<section class="category_listings row">
    <div class="small-12 medium-12 large-12 column">{{#repeat 3}} {{>category--listing_item}} {{/repeat}}</div>
    <div class="small-12 medium-12 large-12 column"><a class="dept_cta" href="{{root}}category--department.html">More Integrative Systems + Design News »</a></div>
</section>
<div class="category_listing_title row">
    <div class="large-12 column"><span>Materials Science Engineering</span>
        <hr>
    </div>
</div>
<section class="category_listings row">
    <div class="small-12 medium-12 large-12 column">{{#repeat 3}} {{>category--listing_item}} {{/repeat}}</div>
    <div class="small-12 medium-12 large-12 column"><a class="dept_cta" href="{{root}}category--department.html">More Materials Science Engineering News »</a></div>
</section>
<div class="category_listing_title row">
    <div class="large-12 column"><span>Mechanical Engineering</span>
        <hr>
    </div>
</div>
<section class="category_listings row">
    <div class="small-12 medium-12 large-12 column">{{#repeat 3}} {{>category--listing_item}} {{/repeat}}</div>
    <div class="small-12 medium-12 large-12 column"><a class="dept_cta" href="{{root}}category--department.html">More Mechanical Engineering News »</a></div>
</section>
<div class="category_listing_title row">
    <div class="large-12 column"><span>Naval Architecture and Marine Engineering</span>
        <hr>
    </div>
</div>
<section class="category_listings row">
    <div class="small-12 medium-12 large-12 column">{{#repeat 3}} {{>category--listing_item}} {{/repeat}}</div>
    <div class="small-12 medium-12 large-12 column"><a class="dept_cta" href="{{root}}category--department.html">More Naval Architecture and Marine Engineering News »</a></div>
</section>
<div class="category_listing_title row">
    <div class="large-12 column"><span>Nuclear Engineering and Radiological Sciences</span>
        <hr>
    </div>
</div>
<section class="category_listings row">
    <div class="small-12 medium-12 large-12 column">{{#repeat 3}} {{>category--listing_item}} {{/repeat}}</div>
    <div class="small-12 medium-12 large-12 column"><a class="dept_cta" href="{{root}}category--department.html">More Nuclear Engineering and Radiological Sciences News »</a></div>
</section>
<div class="category_listing_title row">
    <div class="large-12 column"><span>Other Units</span>
        <hr>
    </div>
</div>
<section class="category_listings row">
    <div class="small-12 medium-12 large-12 column">{{#repeat 3}} {{>category--listing_item}} {{/repeat}}</div>
    <div class="small-12 medium-12 large-12 column"><a class="dept_cta" href="{{root}}category--department.html">More News »</a></div>
</section>
