 {{!--individual photo listing --}}
<div class="column photo_item">
    <a href="{{root}}single_photo.html"><img src="{{root}}assets/img/29972196305_221a53cf72_z.jpg" alt="">
        <p class="hed">Tow Tank</p>
        <p class="dek">Corning Townsend, a NAME alumnus, visits the tow tanks at the Michigan Hydrodynamic Laboratory on Central Campus on September 17, 2016.
        </p>
        <p class="credit">Photo: Joseph Xu, Michigan Engineering, Communications &amp; Marketing</p>
    </a>
</div>
<div class="column photo_item">
    <a href="{{root}}single_photo.html"><img src="{{root}}assets/img/29465480404_a9adb6b48f_k.jpg" alt="">
        <p class="hed">Portrait Image</p>
        <p class="dek">Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
        <p class="credit">Photo: Joseph Xu, Michigan Engineering, Communications &amp; Marketing</p>
    </a>
</div>
