 {{!--individual video listing dos --}}
<div class="small-12 medium-4 large-4 column video_item large">
    <div class="flex-video widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IBDszAUa85w" frameborder="0" allowfullscreen></iframe>
    </div>
    <p class="hed">Watch: <span class="thin_text_sans">This is Michigan Robotics</span></p>
    </a>
</div>
<div class="small-12 medium-4 large-4 column video_item large">
    <div class="flex-video widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IBDszAUa85w" frameborder="0" allowfullscreen></iframe>
    </div>
    <p class="hed">Watch: <span class="thin_text_sans">This is Michigan Engineering</span></p>
    </a>
</div>
<div class="small-12 medium-4 large-4 column video_item large">
    <div class="flex-video widescreen">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IBDszAUa85w" frameborder="0" allowfullscreen></iframe>
    </div>
    <p class="hed">Watch: <span class="thin_text_sans">First Year Forward</span></p>
    </a>
</div>
