<!-- Category and Sub-category lead articles row -->
<section class="category_lead_row">
    <div class="category_secondary_articles row">
        <div class="row" data-equalizer data-equalize-on="medium">
            <div class="small-12 medium-6 large-6 column article">
                <a href="{{root}}article--standard.html" data-equalizer-watch>
                    <div class="image">
                        <img src="{{root}}assets/img/flint_img.jpg" alt="Placeholder" />
                    </div>
                    <p class="hed">University community pulls together to address Flint water crisis</p>
                    <p class="dek">Faculty, staff and students from all three U-M campuses are coming together over the water crisis in the city of Flint to offer everything from research expertise and accurate information on the situation to water filters and bottled water. | <span class="time_label">Medium read</span></p>
                </a>
            </div>
            <div class="small-12 medium-6 large-6 column article">
                <a href="{{root}}article--short.html" data-equalizer-watch>
                    <div class="image">
                        <img src="{{root}}assets/img/flint_img.jpg" alt="Placeholder" />
                    </div>
                    <p class="hed">Flint water crisis: Michigan Engineers offer insights</p>
                    <p class="dek">Water quality researchers at Michigan Engineering are concerned about several long-term aspects of the Flint drinking water crisis and they're keeping close tabs on the unfolding situation. | <span class="time_label">Short read</span></p>
                </a>
            </div>
        </div>
    </div>
</section>
