<div class="article">
    <a href="{{root}}article--standard.html" class="row">
        <div class="small-12 medium-4 medium-order-2 large-order-2 large-4 column"><img src="{{root}}assets/img/3-2-img-large-01.jpg" alt="Placeholder"></div>
        <div class="small-12 medium-8 medium-order-1 large-order-1 large-8 column">
            <div class="hed">Fusce Bibendum Quam Cras Sem Aenean Tortor Ullamcorper Nüllam</div>
            <div class="dek">Nullam quis risus eget urna mollis ornare vel eu leo. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec id elit non mi porta gravida at eget metus. | <span class="time_label">Medium read</span></div>
        </div>
    </a>
</div>
