<!-- category listings row department -->
<section class="content_well row">
    <div class="row">
        <div class="small-12 medium-4 large-4 column department_news">
            <div class="section_title clearfix"><a href="{{root}}category--department.html"><span class="">Aerospace Engineering</span></a>
            </div>
            <hr>
            <a class="article_link" href="{{root}}article--standard.html"><img src="{{root}}assets/img/3-2-img-01.jpg" alt="Placeholder" />
                <div class="lead_article">
                    <div class="article_eyebrow"><span class="channel">Research</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="department">Aerospace Engineering</span>
                    </div>
                    <div class="article_hed">Squeezable phones</div>
                    <div class="article_dek">What if you could control your phone by squeezing it? Thanks to University of Michigan computer engineers, that’s a scenario you might one day experience. | <span class="time_label">Medium read</span></div>
                </div>
            </a>
            <a class="article_link" href="{{root}}article--standard.html">
                <div class="article_hed sub_article">Walking Robot Attempts Uneven Terrain | <span class="time_label">Medium read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">On-demand public transportation | <span class="time_label">Short read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Trojan nanoparticle can halt asthma, allergies | <span class="time_label">Short read</span></div>
            </a>
        </div>
        <div class="small-12 medium-4 large-4 column department_news">
            <div class="section_title clearfix"><a href="{{root}}category--department.html"><span class="">Biomedical Engineering</span></a>
            </div>
            <hr>
            <a class="article_link" href="{{root}}article--standard.html"><img src="{{root}}assets/img/3-2-img-02.jpg" alt="Placeholder" />
                <div class="lead_article">
                    <div class="article_eyebrow"><span class="channel">Chemical Engineering</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="department">Biomedical Engineering</span>
                    </div>
                    <div class="article_hed">Meet the new dean</div>
                    <div class="article_dek">Dr. Alec D. Gallimore is the Robert J. Vlasic Dean of Engineering at the University of Michigan. Dean Gallimore is a rocket scientist. | <span class="time_label">Medium read</span></div>
                </div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Twilio, ‘most interesting tech IPO of year’ | <span class="time_label">Short read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--standard.html">
                <div class="article_hed sub_article">Solar Car wins national title again | <span class="time_label">Medium read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Gary Was: Hunting for better nuclear reactor materials | <span class="time_label">Short read</span></div>
            </a>
        </div>
        <div class="small-12 medium-4 large-4 column department_news">
            <div class="section_title clearfix"><a href="{{root}}category--department.html"><span class="">Chemical Engineering</span></a>
            </div>
            <hr>
            <a class="article_link" href="{{root}}article--standard.html"><img src="{{root}}assets/img/3-2-img-02.jpg" alt="Placeholder" />
                <div class="lead_article">
                    <div class="article_eyebrow"><span class="channel">Chemical Engineering</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="department">Biomedical Engineering</span>
                    </div>
                    <div class="article_hed">Meet the new dean</div>
                    <div class="article_dek">Dr. Alec D. Gallimore is the Robert J. Vlasic Dean of Engineering at the University of Michigan. Dean Gallimore is a rocket scientist. | <span class="time_label">Medium read</span></div>
                </div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Twilio, ‘most interesting tech IPO of year’ | <span class="time_label">Short read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--standard.html">
                <div class="article_hed sub_article">Solar Car wins national title again | <span class="time_label">Medium read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Gary Was: Hunting for better nuclear reactor materials | <span class="time_label">Short read</span></div>
            </a>
        </div>
    </div>
    {{!--row two--}}
    <div class="row">
        <div class="small-12 medium-4 large-4 column department_news">
            <div class="section_title clearfix"><a href="{{root}}category--department.html"><span class="">Civil and Environmental Engineering</span></a>
            </div>
            <hr>
            <a class="article_link" href="{{root}}article--standard.html"><img src="{{root}}assets/img/3-2-img-01.jpg" alt="Placeholder" />
                <div class="lead_article">
                    <div class="article_eyebrow"><span class="channel">Research</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="department">Aerospace Engineering</span>
                    </div>
                    <div class="article_hed">Squeezable phones</div>
                    <div class="article_dek">What if you could control your phone by squeezing it? Thanks to University of Michigan computer engineers, that’s a scenario you might one day experience. | <span class="time_label">Medium read</span></div>
                </div>
            </a>
            <a class="article_link" href="{{root}}article--standard.html">
                <div class="article_hed sub_article">Walking Robot Attempts Uneven Terrain | <span class="time_label">Medium read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">On-demand public transportation | <span class="time_label">Short read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Trojan nanoparticle can halt asthma, allergies | <span class="time_label">Short read</span></div>
            </a>
        </div>
        <div class="small-12 medium-4 large-4 column department_news">
            <div class="section_title clearfix"><a href="{{root}}category--department.html"><span class="">Climate and Space Science Engineering</span></a>
            </div>
            <hr>
            <a class="article_link" href="{{root}}article--standard.html"><img src="{{root}}assets/img/3-2-img-02.jpg" alt="Placeholder" />
                <div class="lead_article">
                    <div class="article_eyebrow"><span class="channel">Chemical Engineering</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="department">Biomedical Engineering</span>
                    </div>
                    <div class="article_hed">Meet the new dean</div>
                    <div class="article_dek">Dr. Alec D. Gallimore is the Robert J. Vlasic Dean of Engineering at the University of Michigan. Dean Gallimore is a rocket scientist. | <span class="time_label">Medium read</span></div>
                </div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Twilio, ‘most interesting tech IPO of year’ | <span class="time_label">Short read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--standard.html">
                <div class="article_hed sub_article">Solar Car wins national title again | <span class="time_label">Medium read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Gary Was: Hunting for better nuclear reactor materials | <span class="time_label">Short read</span></div>
            </a>
        </div>
        <div class="small-12 medium-4 large-4 column department_news">
            <div class="section_title clearfix"><a href="{{root}}category--department.html"><span class="">Electrical Engineering and Computer Science</span></a>
            </div>
            <hr>
            <a class="article_link" href="{{root}}article--standard.html"><img src="{{root}}assets/img/3-2-img-02.jpg" alt="Placeholder" />
                <div class="lead_article">
                    <div class="article_eyebrow"><span class="channel">Chemical Engineering</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="department">Biomedical Engineering</span>
                    </div>
                    <div class="article_hed">Meet the new dean</div>
                    <div class="article_dek">Dr. Alec D. Gallimore is the Robert J. Vlasic Dean of Engineering at the University of Michigan. Dean Gallimore is a rocket scientist. | <span class="time_label">Medium read</span></div>
                </div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Twilio, ‘most interesting tech IPO of year’ | <span class="time_label">Short read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--standard.html">
                <div class="article_hed sub_article">Solar Car wins national title again | <span class="time_label">Medium read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Gary Was: Hunting for better nuclear reactor materials | <span class="time_label">Short read</span></div>
            </a>
        </div>
    </div>
    {{!--row three--}}
    <div class="row">
        <div class="small-12 medium-4 large-4 column department_news">
            <div class="section_title clearfix"><a href="{{root}}category--department.html"><span class="">Industrial and Operations Engineering</span></a>
            </div>
            <hr>
            <a class="article_link" href="{{root}}article--standard.html"><img src="{{root}}assets/img/3-2-img-01.jpg" alt="Placeholder" />
                <div class="lead_article">
                    <div class="article_eyebrow"><span class="channel">Research</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="department">Aerospace Engineering</span>
                    </div>
                    <div class="article_hed">Squeezable phones</div>
                    <div class="article_dek">What if you could control your phone by squeezing it? Thanks to University of Michigan computer engineers, that’s a scenario you might one day experience. | <span class="time_label">Medium read</span></div>
                </div>
            </a>
            <a class="article_link" href="{{root}}article--standard.html">
                <div class="article_hed sub_article">Walking Robot Attempts Uneven Terrain | <span class="time_label">Medium read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">On-demand public transportation | <span class="time_label">Short read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Trojan nanoparticle can halt asthma, allergies | <span class="time_label">Short read</span></div>
            </a>
        </div>
        <div class="small-12 medium-4 large-4 column department_news">
            <div class="section_title clearfix"><a href="{{root}}category--department.html"><span class="">Integrative Systems + Design Engineering</span></a>
            </div>
            <hr>
            <a class="article_link" href="{{root}}article--standard.html"><img src="{{root}}assets/img/3-2-img-02.jpg" alt="Placeholder" />
                <div class="lead_article">
                    <div class="article_eyebrow"><span class="channel">Chemical Engineering</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="department">Biomedical Engineering</span>
                    </div>
                    <div class="article_hed">Meet the new dean</div>
                    <div class="article_dek">Dr. Alec D. Gallimore is the Robert J. Vlasic Dean of Engineering at the University of Michigan. Dean Gallimore is a rocket scientist. | <span class="time_label">Medium read</span></div>
                </div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Twilio, ‘most interesting tech IPO of year’ | <span class="time_label">Short read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--standard.html">
                <div class="article_hed sub_article">Solar Car wins national title again | <span class="time_label">Medium read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Gary Was: Hunting for better nuclear reactor materials | <span class="time_label">Short read</span></div>
            </a>
        </div>
        <div class="small-12 medium-4 large-4 column department_news">
            <div class="section_title clearfix"><a href="{{root}}category--department.html"><span class="">Materials Science Engineering</span></a>
            </div>
            <hr>
            <a class="article_link" href="{{root}}article--standard.html"><img src="{{root}}assets/img/3-2-img-02.jpg" alt="Placeholder" />
                <div class="lead_article">
                    <div class="article_eyebrow"><span class="channel">Chemical Engineering</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="department">Biomedical Engineering</span>
                    </div>
                    <div class="article_hed">Meet the new dean</div>
                    <div class="article_dek">Dr. Alec D. Gallimore is the Robert J. Vlasic Dean of Engineering at the University of Michigan. Dean Gallimore is a rocket scientist. | <span class="time_label">Medium read</span></div>
                </div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Twilio, ‘most interesting tech IPO of year’ | <span class="time_label">Short read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--standard.html">
                <div class="article_hed sub_article">Solar Car wins national title again | <span class="time_label">Medium read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Gary Was: Hunting for better nuclear reactor materials | <span class="time_label">Short read</span></div>
            </a>
        </div>
    </div>
    {{!--row four--}}
    <div class="row">
        <div class="small-12 medium-4 large-4 column department_news">
            <div class="section_title clearfix"><a href="{{root}}category--department.html"><span class="">Mechanical Engineering</span></a>
            </div>
            <hr>
            <a class="article_link" href="{{root}}article--standard.html"><img src="{{root}}assets/img/3-2-img-01.jpg" alt="Placeholder" />
                <div class="lead_article">
                    <div class="article_eyebrow"><span class="channel">Research</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="department">Aerospace Engineering</span>
                    </div>
                    <div class="article_hed">Squeezable phones</div>
                    <div class="article_dek">What if you could control your phone by squeezing it? Thanks to University of Michigan computer engineers, that’s a scenario you might one day experience. | <span class="time_label">Medium read</span></div>
                </div>
            </a>
            <a class="article_link" href="{{root}}article--standard.html">
                <div class="article_hed sub_article">Walking Robot Attempts Uneven Terrain | <span class="time_label">Medium read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">On-demand public transportation | <span class="time_label">Short read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Trojan nanoparticle can halt asthma, allergies | <span class="time_label">Short read</span></div>
            </a>
        </div>
        <div class="small-12 medium-4 large-4 column department_news">
            <div class="section_title clearfix"><a href="{{root}}category--department.html"><span class="">Naval Architecture and Marine Engineering</span></a>
            </div>
            <hr>
            <a class="article_link" href="{{root}}article--standard.html"><img src="{{root}}assets/img/3-2-img-02.jpg" alt="Placeholder" />
                <div class="lead_article">
                    <div class="article_eyebrow"><span class="channel">Chemical Engineering</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="department">Biomedical Engineering</span>
                    </div>
                    <div class="article_hed">Meet the new dean</div>
                    <div class="article_dek">Dr. Alec D. Gallimore is the Robert J. Vlasic Dean of Engineering at the University of Michigan. Dean Gallimore is a rocket scientist. | <span class="time_label">Medium read</span></div>
                </div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Twilio, ‘most interesting tech IPO of year’ | <span class="time_label">Short read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--standard.html">
                <div class="article_hed sub_article">Solar Car wins national title again | <span class="time_label">Medium read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Gary Was: Hunting for better nuclear reactor materials | <span class="time_label">Short read</span></div>
            </a>
        </div>
        <div class="small-12 medium-4 large-4 column department_news">
            <div class="section_title clearfix"><a href="{{root}}category--department.html"><span class="">Nuclear Engineering and Radiological Sciences</span></a>
            </div>
            <hr>
            <a class="article_link" href="{{root}}article--standard.html"><img src="{{root}}assets/img/3-2-img-02.jpg" alt="Placeholder" />
                <div class="lead_article">
                    <div class="article_eyebrow"><span class="channel">Chemical Engineering</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="department">Biomedical Engineering</span>
                    </div>
                    <div class="article_hed">Meet the new dean</div>
                    <div class="article_dek">Dr. Alec D. Gallimore is the Robert J. Vlasic Dean of Engineering at the University of Michigan. Dean Gallimore is a rocket scientist. | <span class="time_label">Medium read</span></div>
                </div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Twilio, ‘most interesting tech IPO of year’ | <span class="time_label">Short read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--standard.html">
                <div class="article_hed sub_article">Solar Car wins national title again | <span class="time_label">Medium read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Gary Was: Hunting for better nuclear reactor materials | <span class="time_label">Short read</span></div>
            </a>
        </div>
    </div>
    {{!--row five--}}
    <div class="row">
        <div class="small-12 medium-4 large-4 column department_news">
            <div class="section_title clearfix"><a href="{{root}}category--department.html"><span class="">Other Units</span></a>
            </div>
            <hr>
            <a class="article_link" href="{{root}}article--standard.html"><img src="{{root}}assets/img/3-2-img-01.jpg" alt="Placeholder" />
                <div class="lead_article">
                    <div class="article_eyebrow"><span class="channel">Research</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        <span class="department">Aerospace Engineering</span>
                    </div>
                    <div class="article_hed">Squeezable phones</div>
                    <div class="article_dek">What if you could control your phone by squeezing it? Thanks to University of Michigan computer engineers, that’s a scenario you might one day experience. | <span class="time_label">Medium read</span></div>
                </div>
            </a>
            <a class="article_link" href="{{root}}article--standard.html">
                <div class="article_hed sub_article">Walking Robot Attempts Uneven Terrain | <span class="time_label">Medium read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">On-demand public transportation | <span class="time_label">Short read</span></div>
            </a>
            <a class="article_link" href="{{root}}article--short.html">
                <div class="article_hed sub_article">Trojan nanoparticle can halt asthma, allergies | <span class="time_label">Short read</span></div>
            </a>
        </div>
    </div>
</section>
