 {{!-- individual photo listing BIG TIME Portrait --}}
<div class="photo_item small-12 medium-12 large-12 column">
    <a href="{{root}}single_photo.html" class="row">
        <div class="small-12 medium-12 large-12 column"><img src="{{root}}assets/img/29465480404_a9adb6b48f_k.jpg" alt="">
        </div>
    </a>
    <a href="{{root}}single_photo.html" class="row">
        <div class="small-12 medium-12 large-12 column">
            <p class="hed">20160425 ExamWeek JX092</p>
            <p class="dek">Exam Week</p>
            <p class="credit">Photo: Joseph Xu, Michigan Engineering Communications &amp; Marketing</p>
            <p class="cta">see photos »</p>
        </div>
    </a>
    <!-- <div class="row social_share">
        <div class="column small-3 shrink"><a class="facebook menu_icon" href="http://www.facebook.com/michigan.engineering"><i class="fa fa-facebook fa-inverse"></i></a></div>
        <div class="column small-3 shrink"><a class="twitter menu_icon" href="https://twitter.com/UMengineering"><i class="fa fa-twitter fa-inverse"></i></a></div>
        <div class="column small-3 shrink"><a class="envelope menu_icon" href="https://www.instagram.com/michiganengineering/"><i class="fa fa-envelope fa-inverse"></i></a></div>
        <div class="column small-3 shrink"><a class="plus menu_icon" href="https://www.youtube.com/user/michiganengineering"><i class="fa fa-plus fa-inverse"></i></a></div>
    </div> -->
</div>
<div class="large-12 column">
    <hr>
</div>
