<!-- Category and Sub-category lead articles row -->
<section class="category_lead_row">
    <div class="category_secondary_articles row">
        <div class="row" data-equalizer data-equalize-on="medium">
            <div class="small-12 medium-6 large-6 column article">
                <a href="{{root}}article--standard.html" data-equalizer-watch>
                    <div class="image">
                        <img src="{{root}}assets/img/16-9-image-01.jpg" alt="Placeholder" />
                    </div>
                    <p class="hed">&lsquo;The most interesting tech IPO of the year&rsquo; was founded by alums</p>
                    <p class="dek">A Q&amp;A with the Michigan Engineering alumni who founded Twilio, a &ldquo;unicorn&rdquo; in the tech industry. | <span class="time_label">Medium read</span></p>
                </a>
            </div>
            <div class="small-12 medium-6 large-6 column article">
                <a href="{{root}}article--short.html" data-equalizer-watch>
                    <div class="image">
                        <img src="{{root}}assets/img/16-9-image-02.jpg" alt="Placeholder" />
                    </div>
                    <p class="hed">Large seawalls are effective at cutting tsunami deaths</p>
                    <p class="dek">Seawalls higher than approximately 16 feet can effectively reduce tsunami-related damage and death. | <span class="time_label">Short read</span></p>
                </a>
            </div>
        </div>
    </div>
</section>
