<!-- category quad row -->
<div class="quad_section_title row">
    <div class="large-12 column"><span>featured {{shorttag}} stories</span>
        <hr>
    </div>
</div>
<div class="quad row">
    <div class="small-12 medium-6 large-6 column article">
        <a href="{{root}}article--standard.html">
            <div class="img_container"><img src="{{root}}assets/img/3-2-img-large-02.jpg" alt="Placeholder"><span class="featured_topic">Featured Topic</span></div>
            <div class="hed">Methane leaks: A new way to find and fix in real time</div>
            <div class="dek">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. | <span class="time_label">Medium read</span></div>
        </a>
    </div>
    <div class="small-12 medium-6 large-6 column article">
        <a href="{{root}}article--standard_long.html">
            <div class="img_container"><img src="{{root}}assets/img/3-2-img-large-03.jpg" alt="Placeholder"><span class="featured_topic">Featured Topic</span></div>
            <div class="hed">Methane leaks: A new way to find and fix in real time</div>
            <div class="dek">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. | <span class="time_label">Long read</span></div>
        </a>
    </div>
    <div class="small-12 medium-6 large-6 column article">
        <a href="{{root}}article--short.html">
            <div class="img_container"><img src="{{root}}assets/img/3-2-img-large-04.jpg" alt="Placeholder"><span class="featured_topic">Featured Topic</span></div>
            <div class="hed">Methane leaks: A new way to find and fix in real time</div>
            <div class="dek">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. | <span class="time_label">Short read</span></div>
        </a>
    </div>
    <div class="small-12 medium-6 large-6 column article">
        <a href="{{root}}article--standard.html">
            <div class="img_container"><img src="{{root}}assets/img/3-2-img-large-05.jpg" alt="Placeholder"><span class="featured_topic">Featured Topic</span></div>
            <div class="hed">Methane leaks: A new way to find and fix in real time</div>
            <div class="dek">Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras justo odio, dapibus ac facilisis in, egestas eget quam. | <span class="time_label">Medium read</span></div>
        </a>
    </div>
</div>
