<!-- In Depth row -->
<section class="indepth">
    <div class="row collapse align-middle">
        <div class="small-12 medium-12 large-8 column lead_story">
            <a href="http://dme.engin.umich.edu/spaceweather/" target="_blank"><img src="{{root}}assets/img/3-2-img-large-indepth.jpg" alt="Placeholder" />
                <div class="overlay large-7 column">
                    <p class="hed">Lights Out</p>
                    <p class="dek">Solar storms, dark side of the moon, the sun.</p>
                </div>
            </a>
        </div>
        <div class="small-12 medium-12 large-4 column listing align-middle">
            <div><a href="{{root}}category--features.html"><span class="section_tag">Features</span></a></div>
            <a href="http://dme.engin.umich.edu/driverlesscars/" target="_blank">
                <div class="indepth_item">
                    <p class="hed">How We Roll</p>
                    <p class="dek">Is America ready for a driverless future?</p>
                </div>
            </a>
            <a href="http://dme.engin.umich.edu/making_a_middle_class/" target="_blank">
                <div class="indepth_item">
                    <p class="hed">Making a Middle Class</p>
                    <p class="dek">Can engineering education lift Ethiopia?</p>
                </div>
            </a>
            <a href="http://dme.engin.umich.edu/internet/" target="_blank">
                <div class="indepth_item">
                    <p class="hed">How the Net Was Won</p>
                    <p class="dek">The ARPANET came before it and later tubes for all.</p>
                </div>
            </a>
            <a href="http://dme.engin.umich.edu/artificialintelligence/" target="_blank">
                <div class="indepth_item">
                    <p class="hed">Designing Intelligence</p>
                    <p class="dek">Are we summoning a demon?</p>
                </div>
            </a>
            <div class="features_cta"><a href="{{root}}category--features.html">more features »</a></div>
        </div>
    </div>
</section>
