<!-- Trending topics row -->
<section class="trending_topics">
    <div class="row expanded trending_items align-center text-center">
            <div class="trending_topics_title small-12 large-1 column medium-expand large-expand"><span>featured topics</span>
            </div>
            <div class="item column small-6 medium-expand large-expand"><a href="{{root}}category--featured_topic.html">Climate Change</a></div>
            <div class="item column small-6 medium-expand large-expand"><a href="{{root}}category--featured_topic.html">Flint Water Crisis</a></div>
            <div class="item column small-6 medium-expand large-expand"><a href="{{root}}category--featured_topic.html">Hacking the Vote</a></div>
            <div class="item column small-6 medium-expand large-expand"><a href="{{root}}category--featured_topic.html">Driverless Cars</a></div>
            <div class="item column small-6 medium-expand large-expand"><a href="{{root}}category--featured_topic.html">Clean Energy</a></div>
            <div class="item column small-6 medium-expand large-expand"><a href="{{root}}category--featured_topic.html">Injectable Computer</a></div>
    </div>
</section>
