<!-- Photo row -->
<section class="photo">
    <div class="row listing">
        <div class="small-12 columns">
            <div><span class="section_tag">Visual Adventures</span></div>
            <hr>
            <a href="{{root}}single_photo.html"><img src="{{root}}assets/img/3-2-img-large-01.jpg" alt="Placeholder" /></a>
        </div>
    </div>
    <div class="row photo_container">
        <div class="columns">
            <div class="photo_item">
                <p class="hed"><a href="{{root}}single_photo.html">Dick Schwartz, Chief of the Vaccine Production Program at the National Institute of Health Vaccine Research Center, holds a hand-held bioreactor at his lab in Gaithersburg, MD on August 3, 2016.</a> | <a class="photo_cta" href="{{root}}single_photo.html">More »</a></p>
            </div>
        </div>
    </div>
</section>
