<!-- Video row -->
<section class="video">
    <div class="row playlist">
        <div class="small-12 medium-7 large-8 small-order-1 medium-order-2 large-order-2 column video_wrapper">
            <div class="flex-video widescreen">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YykKL03Gx7c" frameborder="0" allowFullScreen></iframe>
            </div>
        </div>
        <div class="small-12 medium-5 large-4 small-order-2 medium-order-1 large-order-1 column align-middle listing">
            <div><a href="{{root}}category--videos.html"><span class="section_tag">Video</span></a></div>
            <div class="video_item active">
                <a class="video-1" href="https://www.youtube.com/embed/YykKL03Gx7c">
                    <p class="hed">Faster WW2 Plane</p>
                    <p class="dek">From a bold an innovative aircraft designer.</p>
                </a>
            </div>
            <div class="video_item">
                <a class="video-2" href="https://www.youtube.com/embed/VHFSPdMDEg4">
                    <p class="hed">Internet of Water</p>
                    <p class="dek">More accessible environmental information.</p>
                </a>
            </div>
            <div class="video_item">
                <a class="video-3" href="https://www.youtube.com/embed/HioOAiMzxBM">
                    <p class="hed">Squeezable phones</p>
                    <p class="dek">What if you could control your phone by squeezing it?</p>
                </a>
            </div>
            <div class="video_cta"><a href="{{root}}category--videos.html">more videos »</a></div>
        </div>
    </div>
</section>
