<!-- One Cool Thing row -->
<section class="one_cool_thing">
    <div class="row collapse align-center">
        <div class="medium-2 large-2 show-for-medium show-for-large column logo_container">
            <div class="logo text-center"><img src="assets/img/one-cool-thing.svg" alt="Placeholder" /></div>
            <div class="cta">
                <p><strong>Want more</strong> cool things, from U-M and around the world?</p>
                <p><a href="#">Download the app! »</a></p>
            </div>
        </div>
        <div class="small-10 medium-4 large-4 column">
            <div><span class="section_tag">today&rsquo;s <span class="thin_text_sans">one cool thing</span></span>
            </div>
            <img src="{{root}}assets/img/1ct-ipad-portrait.jpg" alt="">
        </div>
        <div class="small-12 medium-5 large-5 column end article">
            <div class="eyebrow">Monday, August 22, 2016</div>
            <div class="hed">NASA inflates new room on ISS</div>
            <div class="graf">Orbiting the Earth on the International Space Station, pieces are being added. Since the ISS already resembles a strange, Tinkertoy creation of add-ons, that might not seem like a big deal, but this entire room addition is special. The Bigelow Expandable Activity Module (BEAM) is an inflatable room that can go from its 7 foot long compact version into a 13 foot long, 10.5 ft diameter expanded habitat. According to NASA, they’re partnering more closely with private industry in hopes of making commercial space flight a reality. In this case, Bigelow Aerospace is testing the tenability to bringing more space to space. BEAM will be checked continuously for structural integrity and how well it performs against solar radiation, space debris, and extreme temperature variance. Who knows: maybe the kids of the future will be slamming the hatches to their expandable rooms in defiance of their autonomous parents.</div>
            <div class="cta">
                <p><a href="#">Learn more about this cool thing »</a></p>
            </div>
        </div>
    </div>
</section>
