<!-- Content well row -->
<section class="content_well row">
    <div class="small-12 medium-6 large-4 column in_the_news">
        <div class="section_title"><a href="{{root}}category--research.html">In the News</a></div>
        <hr>
        <a class="article_link" href="#" target="_blank">
            <div class="lead_article">
                <div class="article_eyebrow"><span class="channel">Smithsonian</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    <span class="date">Aug. 22, 2016</span>
                </div>
                <div class="article_hed">These mesmerizing paper sculptures explore nature’s mirrored structures</div>
                <!-- <div class="dek">Max Shtein, EECS, clips his way to a deeper understanding.
                </div> -->
            </div>
        </a>
        <a class="article_link" href="#" target="_blank">
            <div class="lead_article">
                <div class="article_eyebrow"><span class="channel">Climate Central</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    <span class="date">Aug. 8, 2016</span>
                </div>
                <div class="article_hed">Michigan researchers see urgency for negative emissions</div>
                <!-- <div class="dek">Ticking the clock backward is goal for Perry Sampson, CLaSP
                </div> -->
            </div>
        </a>
        <a class="article_link" href="#" target="_blank">
            <div class="lead_article">
                <div class="article_eyebrow"><span class="channel">Detroit News</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    <span class="date">Aug. 7, 2016</span>
                </div>
                <div class="article_hed">U-M wins 6th consecutive solar car championship</div>
                <!-- <div class="dek">Team stays cool through fourth stage engine failure.
                </div> -->
            </div>
        </a>
        <a class="article_link" href="#" target="_blank">
            <div class="lead_article">
                <div class="article_eyebrow"><span class="channel">Smithsonian</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    <span class="date">Aug. 22, 2016</span>
                </div>
                <div class="article_hed">These mesmerizing paper sculptures explore nature’s mirrored structures</div>
                <!-- <div class="dek">Max Shtein, EECS, clips his way to a deeper understanding.
                </div> -->
            </div>
        </a>
         <a class="article_link" href="#" target="_blank">
            <div class="lead_article">
                <div class="article_eyebrow"><span class="channel">Smithsonian</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    <span class="date">Aug. 22, 2016</span>
                </div>
                <div class="article_hed">These mesmerizing paper sculptures explore nature’s mirrored structures</div>
                <!-- <div class="dek">Max Shtein, EECS, clips his way to a deeper understanding.
                </div> -->
            </div>
        </a>
    </div>
    <div class="small-12 medium-6 large-8 column history_section">
        <div class="row" data-equalizer data-equalize-on="large">
            <div class="small-12 medium-12 large-5 column history_articles" data-equalizer-watch>
                <div><span class="section_tag">bicentennial web project</span></div>
                <a href="http://bicentennial.engin.umich.edu/story-long.html?id=87" target="_blank">
                    <div class="history_item">
                        <p class="hed">Queen of the Hurricanes: An Engineer and Feminist for the Ages</p>
<!--                         <p class="dek">This is the story of masers, an underrated invention ham-strung by technology’s limits at the time.</p>
 -->                    </div>
                </a>
                <a href="https://amyx-umich.github.io/bicentennial-foundation/dist/" target="_blank">
                    <div class="history_item">
                        <p class="hed">CUOS: Pushing the Limits of Optical Science</p>
<!--                         <p class="dek">Can engineering Shannon lift Shannon?</p>
 -->                    </div>
                </a>
                <a href="https://amyx-umich.github.io/bicentennial-foundation/dist/" target="_blank">
                    <div class="history_item">
                        <p class="hed">1860 Curriculum: Questions Asked and Answered</p>
<!--                         <p class="dek">Sustainablity is a buzzword, but what does that really mean?</p>
 -->                    </div>
                </a>
                <a href="http://bicentennial.engin.umich.edu/story-long.html?id=79" target="_blank">
                    <div class="history_item">
                        <p class="hed">The Michigan-NASA Connection</p>
<!--                         <p class="dek">Thomas Knoll (born April 14, 1960) is an American software engineer who created Adobe Photoshop. His father is Glenn Knoll</p>
 -->                    </div>
                </a>
            </div>
            <div class="medium-12 large-7 column history_image hide-for-small-only" data-equalizer-watch title="bicentennial" role="img" aria-label="bicentennial"></div>
        </div>
    </div>
</section>
