<section class="faculty">
    <div class="faculty_title row">
        <div class="large-12 column"><span>
faculty</span>
            <hr>
        </div>
    </div>
    <div class="faculty_list">
        <ul>
            <li class="row">
                <div class="small-4 medium-12 large-4 column"><a href="http://www.engin.umich.edu/college/about/people/profiles/a-to-e/jeremy-bassis/" target="_blank"><img src="https://www.engin.umich.edu/college/about/people/profiles/a-to-e/jeremy-bassis/display-file/sm_image/jbassis.jpg" alt="Placeholder" /></a></div>
                <div class="medium-12 large-8 column">
                    <p class="name"><a href="http://www.engin.umich.edu/college/about/people/profiles/a-to-e/jeremy-bassis/" target="_blank">Jeremy Bassis</a></p>
                    <p class="desc">Assistant Professor, Atmospheric, Oceanic &amp; Space Sciences</p>
                </div>
            </li>
            <li class="row">
                <div class="small-4 medium-12 large-4 column"><a href="http://www.engin.umich.edu/college/about/people/profiles/a-to-e/don-b-chaffin/" target="_blank"><img src="https://www.engin.umich.edu/college/about/people/profiles/a-to-e/don-b-chaffin/display-file/sm_image/" alt="Placeholder" /></a></div>
                <div class="medium-12 large-8 column">
                    <p class="name"><a href="http://www.engin.umich.edu/college/about/people/profiles/a-to-e/don-b-chaffin/" target="_blank">Don Chaffin</a></p>
                    <p class="desc">Director Emeritus, Human Motion Simulation Laboratory</p>
                </div>
            </li>
            <li class="row">
                <div class="small-4 medium-12 large-4 column"><a href="http://www.engin.umich.edu/college/about/people/profiles/a-to-e/karthik-duraisamy/" target="_blank"><img src="https://www.engin.umich.edu/college/about/people/profiles/a-to-e/karthik-duraisamy/display-file/sm_image/duraisamy.jpg" alt="Placeholder" /></a></div>
                <div class="medium-12 large-8 column">
                    <p class="name"><a href="http://www.engin.umich.edu/college/about/people/profiles/a-to-e/karthik-duraisamy/" target="_blank">Karthik Duraisamy</a></p>
                    <p class="desc">Assistant Professor, Aerospace Engineering</p>
                </div>
            </li>
            <li class="row">
                <div class="small-4 medium-12 large-4 column"><a href="http://www.engin.umich.edu/college/about/people/profiles/k-to-o/nicholas-kotov/" target="_blank"><img src="https://www.engin.umich.edu/college/about/people/profiles/k-to-o/nicholas-kotov/display-file/sm_image/kotov.jpg" alt="Placeholder" /></a></div>
                <div class="medium-12 large-8 column">
                    <p class="name"><a href="http://www.engin.umich.edu/college/about/people/profiles/k-to-o/nicholas-kotov/" target="_blank">Nicholas Kotov</a></p>
                    <p class="desc">Professor, Chemical, Biomedical, Materials Science and Macromolecular Science &amp; Engineering</p>
                </div>
            </li>
        </ul>
    </div>
</section>
