<section class="subnav campus">
    <div class="campus_subnav_title row">
        <div class="large-12 column"><span>All Issues</span>
            <hr>
        </div>
    </div>
    <div class="listing">
        <ul>
            <li><a href="{{root}}magazine.html">Spring 2016</a></li>
            <li><a href="{{root}}magazine-02.html">Fall 2015</a></li>
            <li><a href="{{root}}magazine.html">Spring 2015</a></li>
            <li><a href="{{root}}magazine-02.html">Fall 2014</a></li>
        </ul>
    </div>
</section>
