<section class="related_stories_sidebar hide-for-small-only">
    <div class="row related_stories">
        <div class="section_title clearfix"><span>Related Stories</span></div>
        <hr>
        <a class="article_link" href="{{root}}article--standard.html">
            <div class="lead_article">
                <div class="article_hed">Related U-M Story Alpha</div>
            </div>
        </a>
        <a class="article_link" href="{{root}}article--standard.html">
            <div class="lead_article">
                <div class="article_hed">Related U-M Story Bravo</div>
            </div>
        </a>
        <a class="article_link" href="{{root}}article--standard.html">
            <div class="lead_article">
                <div class="article_hed">Related University of Michigan Story Charlie</div>
            </div>
        </a>
        <a class="article_link" href="{{root}}article--standard.html">
            <div class="lead_article">
                <div class="article_hed">Related University of Michigan Story Delta</div>
            </div>
        </a>
    </div>
</section>
