<section class="researchers">
    <div class="researchers_title row">
        <div class="small-12 column"><span>Researchers</span>
            <hr>
        </div>
    </div>
    <div class="researchers_list">
        <ul>
            <li class="row">
                <div class="small-4 medium-2 large-4 column show-for-large"><a href="http://www.engin.umich.edu/college/about/people/profiles/f-to-j/jessy-grizzle/" target="_blank"><img src="https://www.engin.umich.edu/college/about/people/profiles/f-to-j/jessy-grizzle/display-file/sm_image/grizzle-225.jpg" alt="Placeholder" /></a></div>
                <div class="small-8 medium-10 large-8 column">
                    <p class="name"><a href="http://www.engin.umich.edu/college/about/people/profiles/f-to-j/jessy-grizzle/" target="_blank">Jessy Grizzle</a></p>
                    <p class="desc">Elmer G. Gilbert Distinguished University Professor; Jerry W. and Carol L. Levin Professor of Engineering
                    </p>
                </div>
            </li>
            <li class="row">
                <div class="small-12 column">
                    <p class="name"><a href="#">Xingye (Dennis) Da</a></p>
                    <p class="desc">Doctoral student in Mechanical Engineering</p>
                </div>
            </li>
            <li class="row">
                <div class="small-12 column">
                    <p class="name"><a href="#">Brent Griffin</a></p>
                    <p class="desc">Doctoral student in Electrical Engineering Systems</p>
                </div>
            </li>
            <li class="row">
                <div class="small-12 column">
                    <p class="name"><a href="#">Omar Harib</a></p>
                    <p class="desc">Doctoral student in Electrical and Computer Engineering</p>
                </div>
            </li>
            <li class="row">
                <div class="small-12 column">
                    <p class="name"><a href="#">Ross Hartley</a></p>
                    <p class="desc">Doctoral student in Robotics</p>
                </div>
            </li>
        </ul>
    </div>
</section>
