<section class="subnav campus">
    <div class="campus_subnav_title row">
        <div class="large-12 column"><span>Explore Campus &amp; Community</span>
            <hr>
        </div>
    </div>
    <div class="listing">
        <ul>
            <li><a href="https://www.flickr.com/photos/michigan-engineering/albums/72157644843955906" target="_blank">View from Ann Arbor</a></li>
            <li><a href="category--photos.html">Photos</a></li>
            <li><a href="{{root}}generic.html">Awards</a></li>
            <li><a href="{{root}}generic.html">Faculty</a></li>
            <li><a href="{{root}}generic.html">Faculty Perspectives</a></li>
            <li><a href="{{root}}generic.html">Students</a></li>
            <li><a href="{{root}}generic.html">Alumni</a></li>
            <li><a href="{{root}}generic.html">Events</a></li>
            <li><a href="{{root}}generic.html">Giving</a></li>
        </ul>
    </div>
</section>
