<section class="in_the_news_sidebar hide-for-small-only">
    <div class="row in_the_news">
        <div class="section_title clearfix"><span>In the News</span></div>
        <hr>
        <a class="article_link" href="http://phys.org/news/2013-12-two-legged-robot-u-michigan.html" target="_blank">
            <div class="lead_article">
                <div class="article_eyebrow"><span class="channel">Phys.Org</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    <span class="date">Aug. 22, 2016</span>
                </div>
                <div class="article_hed">Two-legged robot walks outside at U-Michigan</div>
            </div>
        </a>
        <a class="article_link" href="http://www.popsci.com/bipedal-robot-gets-its-swagger-on" target="_blank">
            <div class="lead_article">
                <div class="article_eyebrow"><span class="channel">popsci</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    <span class="date">Aug. 8, 2016</span>
                </div>
                <div class="article_hed">A Bipedal Robot Gets Its Swagger On</div>
            </div>
        </a>
        <a class="article_link" href="http://www.dailymail.co.uk/sciencetech/article-3581925/Watch-amazing-two-legged-robot-conquer-obstacle-course-Machine-walks-slopes-snow-without-falling.html" target="_blank">
            <div class="lead_article">
                <div class="article_eyebrow"><span class="channel">Daily Mail</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    <span class="date">Aug. 7, 2016</span>
                </div>
                <div class="article_hed">University of Michigan&rsquo;s MARLO the robot walks over slopes and snow</div>
            </div>
        </a>
        <a class="article_link" href="http://gizmodo.com/this-walking-robot-looks-extremely-drunk-1783205336" target="_blank">
            <div class="lead_article">
                <div class="article_eyebrow"><span class="channel">gizmodo</span> <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    <span class="date">Aug. 22, 2016</span>
                </div>
                <div class="article_hed">This Walking Robot Looks Extremely Drunk</div>
            </div>
        </a>
    </div>
</section>
