<section class="flip">
    <div class="callout" id="newsletter_flip">
        <div class="front">
            <div class="hed">The Michigan Engineer Newsletter</div>
            <div>Don't miss a thing!</div>
            <div>Subscribe to The Michigan Engineering newsletter!</div>
            <div class="button" id="open">SIGN UP NOW</div>
        </div>
        <div class="back">
            <div class="hed">The Michigan Engineer Newsletter</div>
            <form class="sign_up" action="#" method="get">
                <div>
                    <label for="email">
                        Enter you email address below!</label>
                </div>
                <div class="input-group">
                    <input class="input-group-field" type="email" id="email" name="email">
                    <div class="input-group-button">
                        <input type="submit" class="button" value="sign up">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
