<section class="unrelated_stories_sidebar">
    <div class="row unrelated_stories">
        <div class="section_title clearfix"><span>Unrelated Stories</span></div>
        <hr>
        <a class="article_link" href="{{root}}article--standard.html">
            <div class="lead_article">
                <div class="article_hed">Unrelated U-M Story Echo</div>
            </div>
        </a>
        <a class="article_link" href="{{root}}article--standard.html">
            <div class="lead_article">
                <div class="article_hed">Unrelated U-M Story Foxtrot</div>
            </div>
        </a>
        <a class="article_link" href="{{root}}article--standard.html">
            <div class="lead_article">
                <div class="article_hed">Unrelated University of Michigan Story Golf</div>
            </div>
        </a>
        <a class="article_link" href="{{root}}article--standard.html">
            <div class="lead_article">
                <div class="article_hed">Unrelated University of Michigan Story Hotel</div>
            </div>
        </a>
    </div>
</section>
