<section class="top_stories">
    <div class="top_stories_title row">
        <div class="large-12 column"><span>latest stories</span>
            <hr>
        </div>
    </div>
    <div class="headlines">
        <ol>
            <li><a href="{{root}}article--standard.html">Venenatis Porta Lorem Purus Euismod Malesuada Ultricies</a></li>
            <li><a href="{{root}}article--standard.html">Fermentum Ligula Vulputate Nullam Tellus</a></li>
            <li><a href="{{root}}article--standard.html">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</a></li>
            <li><a href="{{root}}article--standard.html">Aenean lacinia bibendum nulla sed consectetur.</a></li>
            <li><a href="{{root}}article--standard.html">Curabitur blandit tempus porttitor.</a></li>
        </ol>
    </div>
    <div class="view_all text-right"><a href="{{root}}category--department-all.html">View all stories »</a></div>
</section>
