<section class="impact">
    <div class="callout">
        <h5>our world, your impact</h5>
        <img src="{{root}}assets/img/3-2-img-impact.jpg" alt="Placeholder" />
        <p>The world needs breakthrough engineering — whether it’s bringing clean water to a nation, or building a simple biosand filter in a rural village. Michigan Engineers make a difference by lending energy and expertise, and by providing support to help propel ideas forward. Take time to be inspired, and then step up to lead.</p>
        <div class="icons volunteer">
            <a href="http://www.engin.umich.edu/college/info/alumni/get-involved/volunteer" target="_blank" class="row">
                <div class="small-3 large-3 columns hover">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612.598 531.496" style="enable-background:new 0 0 612.598 531.496;" xml:space="preserve">
                        <g id="_x35_">
                            <path style="fill:none;stroke:#FFFFFF;stroke-width:17.5336;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
        M474.913,185.971v275.216c0,15.123-12.26,27.383-27.383,27.383H64.332c-15.123,0-27.383-12.26-27.383-27.383V182.743
        c0-15.123,12.26-27.383,27.383-27.383H397.52" />
                            <path style="fill:none;stroke:#FFFFFF;stroke-width:17.5336;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
        M562.827,19.607l23.466,23.466c7.304,7.304,6.596,19.854-1.581,28.031L325.262,330.552l-69.331,19.416l19.416-69.331
        L534.796,21.188C542.973,13.011,555.523,12.303,562.827,19.607z" />
                            <line style="fill:none;stroke:#FFFFFF;stroke-width:17.5336;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="569.09" y1="86.724" x2="519.175" y2="36.809" />
                        </g>
                    </svg>
                </div>
                <div class="columns text-right">volunteer</div>
                <hr class="mid">
            </a>
        </div>
        <div class="icons support">
            <a href="https://leadersandbest.umich.edu/find/#!/scu/eng" target="_blank" class="row hover">
                <div class="small-3 large-3 columns">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612.598 531.496" style="enable-background:new 0 0 612.598 531.496;" xml:space="preserve">
                        <g id="_x31_1_4_">
                            <path style="fill:none;stroke:#FFFFFF;stroke-width:13.9731;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
        M313.177,162.627l-25.78,13.593c-4.203,2.216-7.287,6.089-8.506,10.682l-12.635,47.6c-3.076,11.589-15.482,17.993-26.711,13.789
        l-10.187-3.814c-9.824-3.678-15.221-14.242-12.445-24.358l17.329-63.148c1.17-4.265,3.956-7.906,7.765-10.151l40.51-23.879
        l-17.45-8.058c-7.529-3.477-16.272-3.118-23.491,0.963l-64.643,36.548c-5.606,3.169-12.195,4.126-18.47,2.68l-43.762-10.28
        l-33.81,151.626l76.808,29.131" />
                            <polyline style="fill:none;stroke:#FFFFFF;stroke-width:13.9731;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
        369.115,244.127 459.57,295.744 438.614,332.623  " />
                            <path style="fill:none;stroke:#FFFFFF;stroke-width:13.9731;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
        M313.177,162.627l153.55,88.919c7.565,4.381,10.182,14.041,5.863,21.642l-13.155,23.15" />
                            <polyline style="fill:none;stroke:#FFFFFF;stroke-width:13.9731;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" points="
        348.107,281.057 438.561,332.675 417.605,369.554     " />
                            <path style="fill:none;stroke:#FFFFFF;stroke-width:13.9731;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
        M327.151,317.933l90.455,51.617L404.56,392.51c-4.361,7.675-14.134,10.336-21.785,5.931l-53.501-30.804" />
                            <path style="fill:none;stroke:#FFFFFF;stroke-width:13.9731;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
        M283.225,444.762l-35.198-20l44.368-78.08l36.879,20.956l-43.412,76.398C285.334,444.964,284.153,445.289,283.225,444.762z" />
                            <path style="fill:none;stroke:#FFFFFF;stroke-width:13.9731;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
        M247.973,424.714l-36.879-20.956l43.464-76.49c0.499-0.878,1.615-1.186,2.494-0.687l35.289,20.052L247.973,424.714z" />
                            <path style="fill:none;stroke:#FFFFFF;stroke-width:13.9731;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
        M210.889,403.625l-36.879-20.956l34.58-60.855c0.499-0.878,1.615-1.186,2.494-0.687l35.289,20.052L210.889,403.625z" />
                            <path style="fill:none;stroke:#FFFFFF;stroke-width:13.9731;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
        M174.09,382.562l-35.198-20c-0.929-0.528-1.254-1.708-0.726-2.637l26.067-45.874c0.499-0.878,1.615-1.186,2.494-0.687
        l35.289,20.052L174.09,382.562z" />
                            <path style="fill:none;stroke:#FFFFFF;stroke-width:13.9731;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" d="
        M445.753,320.059l90.716-20.096l-32.785-152.709l-70.813,13.549c-6.145,1.176-12.507,0.076-17.901-3.093l-81.962-48.157
        c-7.833-4.602-17.51-4.741-25.472-0.365l-25.018,13.751" />
                            <rect x="519.315" y="111.027" transform="matrix(-0.9777 0.2099 -0.2099 -0.9777 1131.5677 315.6737)" style="fill:none;stroke:#FFFFFF;stroke-width:13.9731;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="59.434" height="213.719" />
                            <rect x="38.279" y="108.102" transform="matrix(-0.9777 -0.2099 0.2099 -0.9777 89.3564 439.4066)" style="fill:none;stroke:#FFFFFF;stroke-width:13.9731;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" width="59.434" height="213.719" />
                        </g>
                    </svg>
                </div>
                <div class="columns text-right">support</div>
                <hr class="bottom">
            </a>
        </div>
    </div>
</section>
